[2015-08-03 13:50] yannschepens opened #1 "More descriptive error messages"

[2015-08-03 13:51] yannschepens commented on #1
From : https://bitbucket.org/yannschepens/winnfsd-new/issues/1/more-descriptive-error-messages

From slucker : Hi,
I had a problem starting winnfsd.exe ("Mount daemon starts failed." message). This has been caused by MOUNT_PORT = 1058 being already in use on my system. I have only figured it out by looking at the source code on this site after a lot of googling. A better mesage or maybe a hint wou

[2015-08-03 13:51] yannschepens commented on #1
From Lukas :
+1
Had the same problem

[2015-08-03 13:52] yannschepens opened #2 "Support long path"
With https://github.com/mitchellh/vagrant/commit/3b10a3165ad461b4f39e8867645e75687bfb345b Vagrant now supports long paths when using vboxsf (and maybe other types) but not nfs.
I tested the mention commit with nfs, and it mounts no problem, however it does not support paths longer than 256 characters.

[2015-08-03 13:52] yannschepens commented on #2
Tyler Struyk :
Something tells me it, we should be using \?\ in the host path

[2015-08-03 13:53] yannschepens commented on #2
Timothy Clissold :
I prepended \?\ to the paths listed in the mountdirs so that they're all processed as such (in CMountProg::FormatPath) - seems to work okay.
I'm not that familiar with the control flow of winnfsd, There's probably a better solution and I had to disable some of the error checking to let the path through, so I haven't submitted a PR.

[2015-08-03 13:54] yannschepens opened #3 "Winnfsd & boot2docker"
From : https://bitbucket.org/jankowfsky/winnfsd/issues/19/winnfsd-boot2docker

I'm trying to use WinNFSd with the vm boot2docker.
On Windows First I'm starting WinNFSd with this command line:
.\winnfsd.exe -log on C:\web
On the boot2docker vm: I start the nfs client by doing :
sudo /usr/local/etc/init.d/nfs-client start
Then
sudo mount -t nfs 10.0.0.1:/C/web /var/www -o vers=3
But I get this error

[2015-08-03 13:56] yannschepens opened #4 "Bug with file creation on host"
From : https://bitbucket.org/jankowfsky/winnfsd/issues/13/bug-with-file-creation-on-host

Re-creating an issue that was originally raised here, but looks to be a WinNFSd problem:
https://github.com/GM-Alex/vagrant-winnfsd/issues/27
Host OS: Windows 7 Guest OS: CentOS 6.6
Guest is through Vagrant with winnfsd plugin.
Steps to reproduce: 1. Create a file on host file system 2. Do an "ls" from within

[2015-08-03 13:56] yannschepens commented on #4
From LordofFatality :
Hey Yann, any news? ;-)

Also: Is this related? When executing a single command via SSH on the CoreOS box, CoreOS does not see the shared folders.
Instead of

mkdir -p /x/y/z
I have to

mkdir x
cd x
ls
mkdir y
cd y
ls
mkdir z
Do you know a workaround?

If I SSH into the machine for a session I only have to ls the top directory and CoreOS recognizes the subdirectories. But I s

[2015-08-03 20:07] realshadow commented on #2
When I try to change the mounted folder to use UNC path it ends as  `192.168.56.1:'\\?\C\Users\realshadow\dev\webdev_src'` which results in `permission denied while mounting`.

If try to test this from command line it wont pass one of the checks, I think it should be this one starting with `pPath[1] != ':'`, just like Timothy Clissold said.

I would really like to help with this but I have no idea

[2015-08-04 07:22] yannschepens commented on #1
https://github.com/winnfsd/winnfsd/commit/c0f6789f53b85ed29a9b2131a9d7b55a863bf99f

[2015-08-05 13:48] kevinquillen opened #5 "Windows 7 "mount.nfs: system call failed""
I understand this is the new repository, but there are issues I would like to read again. Namely the one about 'mount.nfs: system call failed' - because I am getting that exact error on another machine.

[2015-08-05 14:00] yannschepens commented on #5
You can not access this page ?
: https://bitbucket.org/jankowfsky/winnfsd/issues?status=new&status=open

[2015-08-05 14:00] kevinquillen commented on #5
I get Access Denied, even when logged in.

[2015-08-05 14:07] GM-Alex commented on #5
Hey I set the issue tracker to private prevent that some creates new issues there. We have to port them to github.

[2015-08-05 14:10] yannschepens commented on #5
The only ones I founded relative to are there :

Can't export whole drive/partition :
It's not possible to mount exported disk/partition.
Server runs normally, but mount returns:
# mount 192.168.2.1:/www /w
mount.nfs: mount system call failed
Steps to reproduce:
WinNFSd.exe w:\ /www
mount [ip]:/www /mnt/nfs
I'm using Windows 7 Home Edition.

[2015-08-05 14:11] yannschepens commented on #5
And this one :

I can't actually get a share to mount, and I was just curious if you've seen this error before...
Windows:
Win7 Prox64 C:\Users\markc.vagrant.d\gems\gems\vagrant-winnfsd-1.0.3\bin>winnfsd.exe C:\test ===================================================== WinNFSd v2.0 Network File System server for Windows Copyright (C) 2005 Ming-Yang Kao Edited in 2011 by ZeWaren Edited in 2013 by A

[2015-08-05 14:12] yannschepens commented on #5
The first one is resolved and for the second one, the response was :

The mount command should look like the following
sudo mount -o 'vers=3,nolock,udp' 172.22.0.115:/C/test /var/test

[2015-08-05 14:12] yannschepens commented on #5
@kevinquillen tell me if these information are ok for you

[2015-08-05 14:12] kevinquillen commented on #5
That would be it (mount call failed). Trying to uncover this mysterious error.

I had the dev downgrade to vbox 4.3.30 on Windows (I have not yet tried 5). Deleted the .vagrant folder in the directory, and vagrant up. The console seemed to ignore Virtualbox completely then, and was saying "verifying hyper v is enabled" as a provider. Have never seen that one before.

[2015-08-09 19:40] LordofFatality commented on #4
To clarify my last comment:
Both
mkdir -p /x/y/z
and
cd /x/y/z
fail with "/x/y is not a directory" although /x/y exists. Basically every folder that has not been discovered yet by running ls in its parent directory is deemed non-existent.

[2015-08-11 14:59] magnetik commented on #5
Got the same with Virtualbox 5.0 and Windows 7

[2015-08-24 09:59] yannschepens commented on #4
Hi Lord,

Did execute this command inside the VM or inside the Host ?

Thank.

[2015-08-24 10:04] yannschepens commented on #4
Hi lord,

Do you use absolute path /x/y/z ?

Which directory is your mounting point x, y or z ?

Thank.

[2015-08-24 10:06] yannschepens commented on #4
I tried with CentOS release 6.5.

I upgrade my VM.

[2015-08-25 03:12] SirWaddles commented on #4
When I was encountering this issue, I had to do the ls first (so that the READDIRPLUS op would run) The NFS client was caching the directory and was not fetching new results, but this was because the 'ctime' timestamp was not being correctly updated.
As per the NFS v3 standard, ctime is 'time directory attributes last changed', and adding a new file or directory into that directory should will cha

[2015-08-25 07:10] yannschepens commented on #4
So, as I understand, you've got release that works ?

If yes, can you tell me which commit had you compiled ?

[2015-08-25 07:16] SirWaddles commented on #4
I put [this commit](https://bitbucket.org/yannschepens/winnfsd-new/commits/ee6bbe9981a926f159abf6ca33a6ef42968a17b0) on top of [this repo](https://bitbucket.org/jankowfsky/winnfsd/)

The GitHub one wasn't around at the time.

[2015-08-25 07:20] yannschepens commented on #4
Ok thank you, I gonna check

But be carefull you will have other problems, particulary with renaming.

The new problem is with large file you said ?

[2015-08-25 07:21] yannschepens commented on #4
I compiled a new release with master, to be sure the exe present in the release tag is the good one.

https://github.com/winnfsd/winnfsd/releases/download/1.0.0/WinNFSd-25-08-2015.exe

[2015-08-25 07:25] SirWaddles commented on #4
Yea, part of my deployment procedure is running a database backup with capifony, which will scp ~150mb file from a remote service and write it (on the guest machine) to the shared folder.

This part would fail when I was using the winnfsd-new repo on bitbucket. It was one of your compiled versions called winnfsd-xtreamwayz-2 or something. I didn't really look into why it wasn't working at that poi

[2015-08-25 07:26] yannschepens opened #6 "Support large files"

[2015-08-25 07:29] yannschepens commented on #4
Ok, I create a new issue for the large files.

@LordofFatality : can you test with the new exe please.

For the little history, the release of winnfsd you use use an array to keep all files path in memory, so for renaming and all directory tree changes, that was really really difficult to maintain. So I rewrite this part into with a tree structure. That's why I don't understand why it doesn't work

[2015-08-25 07:33] SirWaddles commented on #4
It might be unrelated to filesize, that's just speculation on my part. I'll try the latest version tomorrow running with the NFS logging running as well.

[2015-08-25 07:39] yannschepens commented on #4
Thank you ;)

Le mar. 25 août 2015 à 09:33, Waddlesworth <notifications@github.com> a
écrit :

[2015-08-26 07:12] yannschepens commented on #4
@LordofFatality : I tried multiple time with centos 6.7 and I have no problem ... Sorry.

I wait for your returns

[2015-08-26 07:13] yannschepens commented on #4
@SirWaddles : Try without NFS logging first and try after with logging.

I know that I had some problems with log.

[2015-08-26 07:35] yannschepens commented on #5
Sometimes, you have just to halt the VM and kill winnfsd process.

Currently, I have not tried with virtualbox 5.0.

[2015-08-26 23:48] SirWaddles commented on #6
The SCP error I get is just

    SCP did not finish successfully

and the only NFS operation that shows up in the log when it failed was an MKDIR on a directory which already exists.

Since it doesn't even get to the WRITE operation, I think this may be unrelated to filesize, and perhaps even related to the issue in the other page, as I discovered that running an ls in the directory where the file

[2015-08-27 06:58] yannschepens commented on #6
Ok, I close this issue and go back to the other one

[2015-08-27 06:58] #6 closed

[2015-08-27 07:03] yannschepens commented on #4
So I gonna try to reproduce your error.

To do this :
- you connect into the guest
- scp a file from another machine

Or
- you connect into another machine
- scp a file to your guest

?

[2015-08-27 07:07] SirWaddles commented on #4
connect into the guest and scp a file from another machine into an unexplored shared folder.

[2015-09-14 10:56] marcharding opened #7 "git clone --recursive fails (submodules)"
Executing git clone --recursive over a nfs share fails, maybe thats related to issue #4

[code]

[2015-09-22 01:09] SirWaddles opened #9 "UNSTABLE storage"
NFSv3 WRITE will always return FILE_SYNC even if given UNSTABLE as an option.

I think this will slow down writing to disk by a huge amount as the current implementation will open a file, write the buffer and close the file on potentially thousands of NFS write calls.

I'm working on an implementation of the UNSTABLE method along with an NFS COMMIT procedure.

Just as a side note, are there any so

[2015-09-22 17:05] lmakarov commented on #3
Hi, I'm interested in winfsd as an option for https://github.com/blinkreaction/boot2docker-vagrant any progress. Could you, please, share any progress or timeline on fixing this issue?

[2015-09-27 21:38] marcharding opened #10 "Symlinks created in windows are not accessible"
When one creates a symlink in windows it is not accessible over nfs. The folder is shown but its not possible to cd into it.

e.g. create a symlink under windows with

[code]

and try to access is in linux over the nfs share...

[2015-10-12 19:42] achekulaev commented on #10
subscribe

[2015-10-12 19:42] achekulaev commented on #10
Also junctions do not work at all.

[2015-10-13 11:08] HnLn commented on #10
I reported the same issue on the vagrant plugin repo https://github.com/winnfsd/vagrant-winnfsd/issues/69

[2015-10-16 09:21] eXtreme opened #11 "Cannot download symfony with php composer"
So, running composer packages update on my php project for some reason hangs on downloading symfony package.

[code]

and it just loops like this. I cannot terminate composer process, have to kill virtualbox machine.

[2015-10-16 12:03] eXtreme commented on #11
dist package of latest symfony weighs almost 7 MB.

[2015-12-05 18:55] 4ver opened #12 "Errors when accessing files unless I touch them first"
In my projects I run build tools (nodejs/gulp) in a vm (using vagrant). When I first run `gulp` I get errors trying to read/write certain files. If I run `find . -exec touch {} \;` in the projects directory before running the build process it works fine.

Anyone have any ideas or have had similar issues?

Thanks,
Donal.

[2016-02-28 04:21] HollyIT opened #13 "Crash when mounting second export"
Been fighting this for awhile now and finally fired up VS to catch the error. Winnfsd.exe crashes when you attempt to mount a second export. I tried from a dedicated *nix machine. I can mount one export with no problem. Try doing a second one and we get this error:

 	WinNFSd.exe!CMountProg::ProcedureMNT() Line 160	C++
 	WinNFSd.exe!CMountProg::Process(IInputStream * pInStream, IOutputStream * pOu

[2016-02-29 09:09] Jeremlicious commented on #13
Yeah I could not mount several folder on Windows using NFS for vagrant. It worked fine on Linux.
I implemented a woraround, I put everything in one folder ...

[2016-03-28 12:55] analytik opened #15 "Bug bounty - winnfsd crashing, and hanging (Win10 mostly)"
We're struggling with 2 bugs - seems to affect both Windows 10 and 8.1, but it's not easily reproducible. For me (Win8.1), things work well, and very rarely, winnfsd.exe hangs (process exists, bloated up to 1GB RAM), but doesn't respond, and our vagrant setup gets messed up, and you need to force kill the VMs. We use two CoreOS machines through VirtualBox 5.0.x and Vagrant (1.8.1 for Windows 8.1,

[2016-03-29 12:07] Yasushi commented on #15
I also not a C ++ programmer, I think that there are a lot of memory bugs in this product. For some of the easy things to reproduce tried to fix here https://github.com/Yasushi/winnfsd/ .

Although no longer a simple crash, I think I still have some memory leak.

[2016-03-30 12:51] manuelbieh commented on #10
Similar error here (Win 10 Pro). I created a symlink `mklink /D Foo "node_modules\foo`. When I `cd` into the the directory in a vagrant box and then try to `ls -l` all files, winnfsd crashes completely.

[2016-03-30 13:06] marcharding commented on #15
@analytik I never had success when using mount options, try to omit those completely.

[2016-03-30 13:23] philr commented on #12
I had a similar problem with a Ruby on Rails server process failing to start in a Vagrant vm. Rails was calling `mkdir` on the `tmp/pids` directory (which already existed) and then trying to create a file in that directory. The file creation would fail, despite the directory existing. If I ran `ls -l tmp/pids` before starting Rails, it would successfully create the file.

The problem I encountered

[2016-04-19 21:05] das-peter commented on #13
I tried fixing this - a fist attempt is here: https://github.com/CandoImage/winnfsd/releases/tag/2.0.2-beta
However, it looks like there's still an edge case in which the path mapping is messed up which then leads to stall file handles.
I'll continue working on this...

[2016-04-20 08:46] analytik commented on #13
Thank you so much for this!

I've tried to replace your binary with the one in my vagrant-winnfsd, and my VMs wouldn't start, but then I noticed it kept failing with either binary, so I just assumed the problem is elsewhere, and didn't want to destroy the VMs now. When I started winnfsd separately and then started vagrant machines, it worked! Even when I ran two docker projects that use mapping fo

[2016-04-20 13:53] HollyIT commented on #13
Thanks for the work! On Win 10/64 bit, whenever I try to connect it gives me a permission denied error on the client side. Logging in WinNFSD shows the all the mounting information coming through, ending with the Final local requested path. On the client side it returns "access denied by server". I've adjusted all the permissions on Winnfsd, disabled firewall and everything. Not really sure what i

[2016-04-20 14:20] HollyIT commented on #13
Alright believe I found the problem. In MountProg.cpp CMountProg::GetPath, if the path isn't found via an alias, then it goes to a normal path:

`if (foundPath != true) {`

The problem is that foundPath is never set to true there, so it always ends up returning false. I just went ahead and put a foundPath = true inside that block and everything works like it should (tested on multiple mounts at th

[2016-04-20 20:15] das-peter commented on #13
@HollyIT / @analytik I figured out that a change from @Yasushi CandoImage/winnfsd/commit/c4be46d84466eb823665d7aebc4466d6f363acc9 changed the PathAlias handling - well the format of it.
I'm not sure why it was necessary, but I decided just to pull all the changes made by other contributors.

In my Vagrant-File I've currently code that patches the vagrant-winnfsd before actually running it.
Pretty

[2016-04-21 11:01] analytik commented on #13
This is amazing. Works like a charm so far (also tested on win8.1 x64). Soon I'll also get feedback from my Win 10-based coworkers. Thanks again!

[2016-04-21 11:22] HollyIT commented on #13
@das-peter The actual problem lies in if you configure NFS to use absolute paths. Take a look here:

https://github.com/CandoImage/winnfsd/blob/cando-dev/src/MountProg.cpp#L269

[code]

The problem is that foundPath never gets set to true, causing it to return the access denied. Comparing it to the original code, they just went ahead and set foundPath to true there, which is what I did and everyth

[2016-04-23 08:19] analytik commented on #13
Actually, with the Vagrantfile patch, there's still one minor issue - when I halt and up, I get this
[code]

Even after vagrant halt, `winnfsd.exe` is still running in the background at this point - simply killing it gets rid of this problem.

[2016-05-02 12:30] das-peter commented on #13
I've just published another beta with a tiny adjustment for the second mount handling as well as merged changes from https://github.com/Yasushi/winnfsd
You can find it here: https://github.com/CandoImage/winnfsd/releases/tag/2.0.3-beta

I've included the vagrant file adjustments into the release notes.

@analytik Are you running vagrant using a special user?

[2016-05-04 16:06] analytik commented on #13
@das-peter I'm running with UAC completely disabled (in registry, not just lowered), so I'm running everything with Admin privileges, although Vagrant, VBoxSVC, VBoxHeadless and winnfsd.exe are all running as my user (when checking through Process Explorer).

I've tried the 2.0.3 and so far it's been working well (thank you!) - I think. My VM froze twice recently, but it seems like the whole docke

[2016-05-05 13:36] das-peter commented on #13
@analytik I just stumbled over the issue you reported about the Vagrantfile code. It's when winnfsd is already running. Of course a download / update of the binary won't work then. The question is how to solve this. Shutting down and restarting winnfsd could be fatal because the file handles are lost - which means an already running VM will encounter a broken mount.
How about a notification? Would

[2016-05-05 14:23] HollyIT commented on #13
@das-peter What I've found after playing with this more is that the Vagrant-Winnfsd plugin actually creates a exports file in the Vagrant root folder (Vagrant\embedded\gems\gems\vagrant-1.8.1\nfspaths). When you start an instance, the plugin checks that file to see if the needed exports exist. If they don't, then it adds and restarts the winnfsd.exe process (which is where the problem of losing fi

[2016-05-05 14:45] das-peter commented on #13
@HollyIT

I totally agree with that. I was already checking the code a bit on how to do this - unfortunately I'm no C-Programmer so every bit I try to do currently takes forever...

I don't actually think this is necessary.
winnfsd seems to check for already known paths anyway and ignores duplicates.
So this again simplifies the structure of vagrant-winnfsd. And getting rid of the nfspath file wou

[2016-05-09 18:40] analytik commented on #13
This might be getting too complicated and maybe a bit off-topic, but I think vagrant-winnfsd should close winnfsd if it started it, and if there are no outstanding vagrant boxes using it.

[2016-05-22 15:29] cbj4074 commented on #15
Same issue here.

We gave up and are evaluating http://nfsforwindows.com/ . The current stable release was unusable (it couldn't even be installed), but I emailed the developer and he sent me a beta within 30 minutes and it has been rock-solid for several weeks now. The advantages as I see them, over winnfsd:

1.) It has a GUI.

2.) It's far more configurable.

3.) Its logging is in every way supe

[2016-05-23 07:11] marcharding opened #20 "Pull Requests / update vagrant-winnfsd"
Does anyone still check the forks/latest pull request?

Quite a few bugs are squashed and vagrant-winnfsd would benefit a lot from the latest changes.

[2016-05-23 07:48] GM-Alex commented on #20
Hey,

the problem currently for me is that I switched to Linux and I haven't setup a Windows pc to build the binary and so I'm not going to merge them without testing. Maybe someone want's to join the project?

[2016-05-25 12:16] marcharding commented on #20
Hey Alexander,

since no one answered, feel free to add me. I'm no c/c++ expert, but i get along.

If you do, please also add me to vagrant-winnfsd and the rubygems account, i would like to keep everything in sync with each other.

[2016-06-03 16:57] marcharding commented on #20
Thanks, i'll create a develop branch for both repositories and get going.

[2016-06-03 16:57] #20 closed

[2016-06-04 12:13] marcharding commented on #11
This is fixed with the latest alpha, please try it  out

https://github.com/winnfsd/winnfsd/releases/tag/3.0.0ALPHA

[2016-06-04 12:14] marcharding commented on #7
Fixed in 3.0.0ALPHA.

[2016-06-04 12:14] #7 closed

[2016-06-04 12:17] marcharding commented on #5
Can you try again with the latest alpha please?

https://github.com/winnfsd/winnfsd/releases/tag/3.0.0ALPHA

[2016-06-04 12:18] marcharding commented on #12
I do not have this problem, however the fix from @philr is merged in the latest alpha, please take a look

https://github.com/winnfsd/winnfsd/releases/tag/3.0.0ALPHA

[2016-06-18 21:18] marcharding commented on #13
One thing i noticed:

There is a lag when switching between multiple mounts and virtual machines.
The currently used mount is ok, when switching to another mount the first command lags quite a bit (~10-20 Seconds), after that its ok. Switching back to the first mount, the first command there lags, after that its ok (and so on).

Do you all experience this behaviour too?

[2016-06-19 13:58] Yasushi commented on #13
But is not it, it may become unresponsive during the test.
It fixes in rsize=8192 mount option. Although the cause is to return the rtpref = 32768 in FSINFO, it seems that for SO_SNDBUF is the default size.

[2016-06-19 15:50] marcharding commented on #13
Thanks for your input, although i can't quite follow. I have the exact same "lags" with rsize=8192.
Do you suggest to increase SO_SNDBUF for the socket to fix this?

Another thing: I noticed strncpy_s is missing here:
https://github.com/Yasushi/winnfsd/commit/bb328cba4ed1559ce13bba8dfabf38c8b65c98af

Was that intentionally? I just added it https://github.com/marcharding/winnfsd/commit/1a3da441a9e0

[2016-06-21 15:04] cbj4074 commented on #15
@analytik I ran into the same issue with the console in which `winnfsd` is running "hanging" on Windows 10; not sure if it is the same as what you describe.

It was quite strange because as soon as I would position the cursor in the console and type any key, the daemon would spring back to life and start working again.

The issue turned out to be super-obscure: the root cause is so-called `QuickEd

[2016-06-23 07:05] magnetik commented on #15
@cbj4074 I experienced the exact same behavior with vagrant on windows 10 without finding the root cause, so a big thank to you !

[2016-06-23 18:14] marcharding commented on #13
Just an update: The lags were my fault, sorry. I had an ip conflict in my internal network... :dizzy_face:

I have no problems running multiple mounts in different virtual machines now.

As expected the speed of parallel i/o tasks in two vms is cut in half, but aside from that everything seems ok (the connectathon testsuite finishes when the known edge cases are excluded).

[2016-06-23 22:21] marcharding commented on #10
Fixed with c2e7bfc65e855c5d4dbcdec13e4c4179c19cb05b.

[2016-06-23 22:21] #10 closed

[2016-06-23 22:21] marcharding commented on #11
This is fixed with c2e7bfc65e855c5d4dbcdec13e4c4179c19cb05b.

You can grab the 2.1.0 binary under releases.

[2016-06-23 22:21] #11 closed

[2016-06-23 22:23] marcharding commented on #12
The latest release (2.1.0) has the fix from @philr included.

Please test if the issue persists.

[2016-06-23 22:27] eXtreme commented on #11
Woha, thanks @marcharding I will test it tomorrow! Does it work with "latest" vagrant-winnfsd?

[2016-06-24 06:14] marcharding commented on #11
Not yet, i'll update vagrant-winnfsd later today.

You can try the attached gem for testing purposes.

[vagrant-winnfsd-1.2.0BETA.gem.zip](https://github.com/winnfsd/winnfsd/files/331281/vagrant-winnfsd-1.2.0BETA.gem.zip)

[code]

[2016-06-24 08:10] eXtreme commented on #11
@marcharding so far it works fine, good job!

[2016-06-24 08:27] HnLn commented on #10
Still not working here, but vagrant said there were no updates for the plugin, so maybe I just need to wait a bit.

[2016-06-24 08:34] marcharding commented on #10
see https://github.com/winnfsd/winnfsd/issues/11#issuecomment-228266348

[2016-06-24 16:29] marcharding commented on #15
@cbj4074 You should try the new 2.1.0 version, the vagrant plugin is also updated accordingly.

[2016-06-24 22:16] cbj4074 commented on #15
@marcharding I will do that immediately! Thanks for the tip!

[2016-06-24 22:28] cbj4074 commented on #15
@marcharding Does there exist any mechanism by which to obtain compiled binaries for various architectures? Unfortunately, I'm not in a position to compile from source at the moment. Thanks again!

[2016-06-25 16:40] marcharding opened #22 "Write speed improvements"
**Edit: take a look at the latest comment: https://github.com/winnfsd/winnfsd/issues/22#issuecomment-230125433**

I'm currently working on improving the write speed.

The biggest bottleneck was the very small wsize which is returned in the FSINFO call.
When increasing that to 65536 another problem gets obvious: the buffer size for the sockets is only the windows default of 8192. That small buffer

[2016-06-25 21:05] exchentrix commented on #22
Wow! This gives me a huge performance boost:

### Before

![profiler2](https://cloud.githubusercontent.com/assets/1130714/16359119/3788533c-3b29-11e6-9c0c-444d29890014.png)

### After

![profiler3](https://cloud.githubusercontent.com/assets/1130714/16359123/41265e0c-3b29-11e6-95df-9d8756f6b356.png)

Thank you very much for this. :)

Best
Christian

[2016-06-27 06:56] marcharding commented on #9
Hey, are you still working on this? If not, can you share the code you have so far?

[2016-06-27 07:02] SirWaddles commented on #9
I'd stopped working on this because the project seemed kind of dead. I don't think you'd want the code I had, it didn't really work at all. I was just trying a few things to keep the storage in memory, but I was having issues with how some of the padding worked.

You can see [my commit](https://github.com/SirWaddles/winnfsd/commit/c0703cab1cae2b3fef043b1932fd20c97bd44264) if you did want to see my

[2016-06-28 22:33] marcharding commented on #9
Thanks! I took you approach and simplified it. The map/vector approach was slower than a normal write in my tests and fills up ram.

See https://github.com/marcharding/winnfsd/commit/41054bb30f94f72121ad853007b89a727c2be00a for my approach.

Its a bit hacky but this and the increased send/receive buffer results in write speeds > 100MB/s (when using the virtio adapter).

I'm open for suggestions, e

[2016-06-29 09:39] eXtreme commented on #22
wow this is really really fast now, I can now even use symfony without moving cache and logs outside the nfs share and the performance is still very good! My test suite runs almost the same time as on my CI server, even with cache and logs folder inside the nfs share.

[2016-07-02 22:39] marcharding commented on #22
Hey all,

i added an experimental unstable/async WRITE/COMMIT procedure. Check the attached [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/344761/WinNFSd.zip) or [vagrant-winnfsd-1.2.1ALPHA02.gem.zip](https://github.com/winnfsd/winnfsd/files/344762/vagrant-winnfsd-1.2.1ALPHA02.gem.zip)

I suggest to use the virtio network adapter with this build, i get about 150 to 200 Mb/s write speed for

[2016-07-03 09:50] exchentrix commented on #22
This gives me another performance boost:

![profiler](https://cloud.githubusercontent.com/assets/1130714/16544816/44fcea8c-4114-11e6-8d9a-4542fa802a3a.png)

Thanks for this. :+1:

[2016-07-03 20:14] cbj4074 opened #24 "NFS WRITE fail causes terminal script to hang indefinitely and blocks other attempts to access NFS-hosted filesystem"
I just downloaded version 2.1.0, and I'm putting it through the paces in order to determine whether or not the primary show-stoppers (for my use-case, anyway) are still present in the binary.

The primary issue that I'm seeing with 2.1.0, which exists in earlier versions, is a "hanging" behavior whenever the `winnfsd.exe` daemon lacks write access to the exported mount point, on the Windows side.

[2016-07-03 20:38] marcharding commented on #24
Should be easy to fix, i'll take a look at it.

[2016-07-03 20:42] cbj4074 commented on #24
@marcharding Thanks so much for the immediate reply and willingness to check it out!

To add to my previous thoughts, I double-checked the underlying filesystem, and there were some permission-related issues (the user as whom I was running `winnfsd.exe` lacked write access to directories to which Composer was attempting to write), but now I've fixed the permissions and I still see same type of fai

[2016-07-04 06:07] marcharding commented on #24
Hm, i'm not quite sure what happens...

I really thought this was fixed with https://github.com/winnfsd/winnfsd/commit/5f096829df2112ef8d9c830cbf4617183cc84850 and https://github.com/winnfsd/winnfsd/commit/16fee7a5698ed61f3a67585702e915d87540b53b (as it now works for other users and composer install is also included in the testsuite, see https://github.com/winnfsd/winnfsd/blob/master/tests/bash/co

[2016-07-04 08:17] eXtreme commented on #24
@marcharding it may be a hint but I always used to enable "Run this program as administrator" option in properties of winnfsd.exe. I tested it now, and with this option disabled, nfs hangs for me when running `cache:clear`, and it looks something like this:

[code]

it hangs for ~1m, then continues to work but again fails later:

[code]

and it goes like

When I run winnfsd.exe as administrator, e

[2016-07-04 08:22] eXtreme commented on #22
@marcharding I can't get ALPHA02 to work properly all the time. At first I couldn't get it working, it was crashing at startup, went back to ALPHA01, it worked, reinstalled ALPHA02 and it started working. But I didn't see any gain or losses in performance. I will test it more later this day because now I have to work ;)

[2016-07-04 17:11] cbj4074 commented on #24
Thanks @eXtreme ; I tried your suggestion to run `winnfsd.exe` as an Administrator, but it doesn't change the behavior I'm seeing.

@marcharding I tried the newer executable that you mentioned and it does indeed fix the hanging! With this version, the `NFS WRITE` attempt still fails, but it doesn't hang.

Now, Composer returns *immediately* with its own version of "permission denied", which is all

[2016-07-04 19:34] marcharding commented on #24
I'd really like to fix this, but i can't reproduce it. I have zero problems, neither as administrator nor as a normal user.

@eXtreme did you use the latest binary (1.2.1ALPHA2, WinNFSd develop [91a3b37])? I just tried it with a fresh symfony installation. No problems there...

[2016-07-05 07:40] eXtreme commented on #24
@marcharding yes, alpha2 from this comment: https://github.com/winnfsd/winnfsd/issues/22#issuecomment-230125433
and it takes veeery long time to finish `cache:clear` for me, alpha1 works fine. I use `virtio-net` adapter as you suggested.

[2016-07-05 08:04] eXtreme commented on #24
I tried to record a gif with time measurment (around 13s on alpha1) and several minutes on alpha2 but then winnfsd alpha2 crashed...
Something is wrong there.

[2016-07-05 22:51] cbj4074 commented on #24
Yes, I may have spoken too soon with regard to the hanging behavior being fixed.

After further testing, I notice that the alpha2 version of `winnfsd` will fail very quickly if it attempts to write to a file *that is already present* on the filesystem and `NFS WRITE` fails. But if the file does not yet exist, the daemon still hangs for an excessive period of time.

With regard to write failures oc

[2016-07-05 23:38] cbj4074 commented on #24
So, check it out: I just created a completely new, and limited-privilege user account in Windows, went through (what I feel like) are all the same steps, and it all works!!!

Next, I'll try to establish what's different in each case, which will hopefully lead us to a reproducible case.

I will also answer your other questions from earlier, @marcharding !

[2016-07-08 00:49] cbj4074 commented on #24
Just a quick update here.

The one thing that is starkly different between the environment in which `NFS WRITE` operations fail and hang and the environments in which it works as expected is the fact that the problematic system is running Ubuntu 14.04 LTS, whereas the working system is running Ubuntu 16.04 LTS.

I'm going to stand-up an Ubuntu 16.04 LTS system and configure it as similarly as poss

[2016-07-09 22:20] marcharding commented on #24
Just a quick question: are you using winnfsd via tcp or udp? (if you're not sure, check with `mount -v`)

I can reproduce this with tcp (but do not have a fix).

[2016-07-09 22:33] cbj4074 commented on #24
Indeed, I am using TCP:

[code]
Brilliant! Switching to UDP fixes the issue!

I think you just identified precisely what is different between my Homestead Vagrant environment and my hand-installed Ubuntu installation: I was using `tcp` in the mount line in `/etc/fstab`.

You, sir, are the hero of the day!

If it works with UDP, then I am happy as a clam. If there is an eventual fix for TCP, then w

[2016-07-10 14:57] cbj4074 commented on #13
Running into this as well.

In my case, `winnfsd.exe` crashes as soon as I attempt to *read the contents* of any mount point (the actual mounting succeeds for all five of the mount points with which I'm testing).

To be clear, this is all within a single VM.

It doesn't seem to matter which mount point I attempt to access first; a crash results no matter what.

The last line is when `winnfsd.exe`

[2016-07-10 16:28] marcharding commented on #13
Hm, again it works for me...

What is your host and guest os? What are the mount options? What folders are your mount points (anything special?)

[2016-07-10 16:58] cbj4074 commented on #13
@marcharding Thanks again for your responsiveness and valuable time; I'd like to express my gratitude for your work on this project and putting pen to paper, so to speak, and helping fix these outstanding bugs.

Host OS: Win 10 x64 (patched to current; `winnfsd.exe` daemon is running as myself, and I'm an Administrator on the machine)
Guest OS: Ubuntu 16.04 LTS (patched to current; installed NFS c

[2016-07-10 17:32] cbj4074 commented on #13
Wow! I'm a bit surprised to find that this all seems to work perfectly well in my Homestead VM. My `folders` section of `Homestead.yaml` looks like this:

[code]

The only difference between the mount options seems to be:

`auto,bg,nfsvers=3,udp,noatime`

Notice that the Vagrant config is using `vers` whereas I'm using `nfsvers`. Could that be the problem? Maybe my other VM is falling back to NFS

[2016-07-10 17:44] cbj4074 commented on #13
@marcharding I think we're onto something here with the mount options.

I just changed mine in the Ubuntu 16 VM (in `/etc/fstab` to match the options used in the other VM's Vagrant configuration and no more crashing!

[2016-07-10 20:35] cbj4074 commented on #13
Another interesting revelation here. I just tried another combination of factors and it seems to have solved the crashing. I am now able to call `ls` on mounted directories and the daemon doesn't crash at all!

What I did was `vagrant up` the Homestead VM, which allows Vagrant to start the `winnfsd.exe` daemon, and then I called `vagrant halt` to shutdown the VM, *but*, it seems that `winnfsd.exe`

[2016-07-12 06:33] hussainweb opened #27 "Problems with composer"
This seems very similar to winnfsd/vagrant-winnfsd#22 but that issue spoke mostly about git and many reported it worked when using `--prefer-dist`. Also, that issue is closed and so I am opening a new one. I also believe that the issue is with the daemon and not the vagrant plugin.

This is the error I get when running `composer install`:

    Could not delete web/core/.nfs00000000000033b700000002

[2016-07-12 22:22] marcharding commented on #24
FYI, TCP fix incoming sometime this/next week (works even better with composer, even cases that failed before now work for me).

[2016-07-13 22:22] marcharding commented on #22
I put some (_a lot_) more work into this due to the issues that kept coming up:

- Fixed TCP (i probably recommend this as the default mount option)
- Fixed some async mode crashes
- Some fixes for the symlink procedure

I didn't test this extensively yet, but i'm quite confident that this version will fix some outstanding issues with git/composer (npm still has problems).

So without further ado

[2016-07-13 22:22] marcharding commented on #24
See https://github.com/winnfsd/winnfsd/issues/22#issuecomment-232504404

[2016-07-13 22:24] marcharding commented on #27
Please try it with the exe linked here: https://github.com/winnfsd/winnfsd/issues/22#issuecomment-232504404.

Use TCP instead of UDP in your mount options (UDP fix will come later, maybe).

[2016-07-14 09:50] eXtreme commented on #22
So far, so good, no lockups, no crash, phpunit runs fast, composer too.

[2016-07-15 00:57] cbj4074 commented on #13
@marcharding Just tried the binary to which you linked in https://github.com/winnfsd/winnfsd/issues/22#issuecomment-232504404 and still having issues.

Just so we're sure I'm testing with the correct binary, the version should be `WinNFSd develop [ddda0d0]`, correct?

When I start the binary with

[code]

the NFS daemon starts, but as soon as my VM tries to mount the exports, I get this:

[code]

[2016-07-15 02:27] achekulaev opened #28 "Mounting from MacOS - PORTMAP NOTIMP"
Does not mount at all. Never mounted for me actually.
Winnfsd is running on Win 10 inside Virtual Box

<img width="1440" alt="winnfsd-win10-macos" src="https://cloud.githubusercontent.com/assets/402007/16861792/14ca4560-4a12-11e6-98e5-b5c6717893dd.png">

[2016-07-15 06:26] marcharding commented on #28
Interesting setup :smile:

A few things to try first:

1. Disable the windows firewall
2. TCP is kind of broken, please try with UDP (or try the exe here https://github.com/winnfsd/winnfsd/issues/22#issuecomment-232504404)
3. Try the last two version as quite a lot has changes, while i added some tests i'm not sure i did not brake something. https://github.com/winnfsd/winnfsd/releases/download/1.0

[2016-07-15 21:04] marcharding commented on #13
Hm, and again it works for me. ls works, mount works.
Can you paste your mount options?

[2016-07-16 14:56] cbj4074 commented on #13
Sure!

[code]

[2016-07-17 19:31] marcharding commented on #13
I'm always testing with starting `winnfsd.exe` manually (not the vagrant plugin) and also used your mount options `nolock,vers=3,tcp,noatime,` no problems here. I do not quite understand how starting winnfsd with vagrant can make any difference.

The `-log on` option should not matter, but everything is a bit slower when the log is printed.

Until now i only checked with Ubuntu 14.04, let me see i

[2016-07-17 23:27] SirWaddles commented on #22
I was getting lockups on Symfony's assets:install command on the current release version (2.1.1) but Alpha03 seems to have fixed it.

[2016-07-24 17:12] cbj4074 commented on #13
Finally getting around to a bit more testing.

With my Ubuntu 14 VM (hand-installed, not Homestead), everything works perfectly as long as I do two things:

1.) Start `winnfsd.exe` with Vagrant.

If I try to start `winnfsd.exe` in the Command Prompt, I get this, and the daemon crashes:

[code]

2.) Use TCP (instead of UDP).

If I use `udp` in the mount options, the daemon hangs inexplicably and in

[2016-07-26 21:37] marcharding commented on #13
Hey, thanks for your further tests.

I can't figure out why starting with vagrant should be any different, but i the assert itself is incorrect.
Please try the attached version [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/384857/WinNFSd.zip).

For UDP mount please try with the following mount options `rw,vers=3,udp,nolock,bg,intr,soft,timeo=5,retrans=5,actimeo=10,retry=5`. While that sti

[2016-07-27 08:15] amirbilu commented on #27
#22 solved the problem for me.

[2016-07-27 09:22] marcharding commented on #28
Hey @achekulaev, any news here?

[2016-07-27 22:33] achekulaev commented on #28
Hey @marcharding

Sorry for the delay. The result is the same

![image](https://cloud.githubusercontent.com/assets/402007/17194888/9102e34c-5428-11e6-9890-f758ebac3fb9.png)

[2016-07-28 06:19] marcharding commented on #28
Hm, can you capture the process with wireshark (i'm guessing you issue may be similar to https://github.com/winnfsd/vagrant-winnfsd/issues/12#issuecomment-77448323)?

[2016-07-28 10:19] fabis94 commented on #22
Trying to run ALPHA03, but can't run it on W10 due to 'MSVCR120D.dll' being missed. Tried googling about this and supposedly the exe was built in the Debug configuration? Could that be the case?

[2016-07-28 10:38] marcharding commented on #22
All binaries here a created by the ci process on appveyor with the release config. I'll have to check whats going on.

Do the [release binaries](https://github.com/winnfsd/winnfsd/releases) work for you?

In the meantime, try installing http://www.microsoft.com/en-us/download/details.aspx?id=40784 first.

[2016-07-28 11:16] fabis94 commented on #22
Yes, I can run them and they don't require the DLL. I've also already installed the redistributable. Are you sure you didn't build this last alpha build with a different build configuration?

[2016-07-28 11:57] marcharding commented on #22
I'm sure, but someone else had a problem with a failed assertion in that build, maybe that is what triggers your problem. The assertion can probably be removed in total (it seems to be from the original authors).

Does it happen with [this file](https://github.com/winnfsd/winnfsd/files/384857/WinNFSd.zip) too?

[2016-07-28 12:15] fabis94 commented on #22
No, that file works. Is it the latest ALPHA3 version?

[2016-07-28 13:56] achekulaev commented on #28
Does it matter on which side to capture the process?

[2016-07-28 14:20] marcharding commented on #28
You can capture from OSX, i just want to know if PMAPPROC_DUMP instead of PMAPPROC_GETPORT is send. I'll also look into this myself later (maybe i can reproduce it with boot2docker, like in the comment).

[2016-07-28 15:37] hussainweb commented on #27
The file in #22 fixed the problem for me as well. I tried running `composer` twice and it worked both times (earlier, the failure was repeatable as well).

I forgot to set it to UDP before starting the machine and tried anyway. It worked without TCP enabled (unless it uses TCP by default). This is the block that defines the sync folder.

            machine_id.vm.synced_folder "#{folder['source']}

[2016-07-28 15:39] hussainweb commented on #27
It seems that the fix is being discussed in #22. Should I close this or let this be open until the fix is in a release?

[2016-07-28 16:09] marcharding commented on #28
I can reproduce this with boot2docker, no need for wireshark.

I'll try to fix this.

[2016-07-28 19:56] marcharding commented on #28
Hey @achekulaev, please try  again with [this binary](https://github.com/winnfsd/winnfsd/files/389236/WinNFSd.zip). I'm positive that it'll work.

[2016-07-28 19:59] marcharding commented on #27
Keep it open, i'll close it with the next release (hopefully in a few days).

[2016-07-28 20:01] marcharding commented on #3
Hey if you're still interested this will be fixed in the next release.

For testing purposes you can also try it with [this binary](https://github.com/winnfsd/winnfsd/files/389236/WinNFSd.zip) and report back.

[2016-07-29 09:06] bkibilko commented on #22
Unfortunately, I can't install the plugin:
`vagrant plugin install vagrant-winnfsd-1.2.1ALPHA02.gem`

`Installing the 'vagrant-winnfsd-1.2.1ALPHA02.gem' plugin. This can take a few minutes...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations or transient network
issues.

[2016-07-29 09:14] marcharding commented on #22
Please upgrade to the latest vagrant version (should be fixed in 1.8.5.), this is a bug in vagrant, see https://github.com/mitchellh/vagrant/pull/7505 and https://github.com/mitchellh/vagrant/issues/7493.

[2016-07-29 10:06] bkibilko commented on #22
Hey, it worked ;). I'm going to test it on my project. What is the simplest way to run a benchmark?

[2016-08-01 20:27] vmadev commented on #22
@bkibilko Just FYI;

On Windows 10 the only way to get a stable run is with the following mount options;

`      mount_options: ['nolock,vers=3,udp,noatime']`

In my particular scenario, I am running vagrant up on a vagrant laravel/homestead box with it's associated provisioning scripts but i think the mount options are just a pass through configuration option. I tried the testing option mentioned

[2016-08-01 21:03] marcharding commented on #22
@vmadev i think you're not using the latest alpha release.

i'm using tcp with windows 10 for more than 8 hours without any problems on quite large symfony 2 project.

Would you mind to try again with [this file](https://github.com/winnfsd/winnfsd/files/384857/WinNFSd.zip)?

[2016-08-01 22:05] vmadev commented on #22
ok, just to be sure.. what mount options should work?

[2016-08-02 08:08] marcharding commented on #22
Thanks for the update, maybe it has something to do with the insider build you're using.

Does winnfsd crash or just freeze?

Udp has its own quirks (try a `git clone https://github.com/silexphp/Silex.git` and it will freeze with udp).

[2016-08-02 14:53] vmadev commented on #22
Well when I was on Windows Pro (Stable Release) on, tcp it would outright crash. The service would just disappear from the task list.

On this Insider Preview, the daemon appears to stay active and you can even enter commands in the console but there doesnt look like its performing any read and write operations. So it freezes the read and write to disk but you still have limited interaction with t

[2016-08-02 14:57] exchentrix commented on #22
@marcharding One short question: Can you add support for running multiple boxes with nfs sharing?

[2016-08-02 15:12] marcharding commented on #22
@vmadev i'll take a look, i may have screwed up the build.

@exchentrix that should already work, even in the official release (see https://github.com/winnfsd/winnfsd/releases/tag/2.1.0, first bullet point)

[2016-08-02 20:49] marcharding commented on #22
@vmadev

know if that helps.

Console as in bash console, e.g. doing a ` ls /your-mount-path/`still works?

Or console as in cmd.exe console (the winnfsd window).

If you're talking about the cmd.exe console, please take a look at https://github.com/winnfsd/winnfsd/issues/15#issuecomment-227469021.

I'm a little bit puzzled, because l just let it run via tcp for a few hours doing a few hundred com

[2016-08-02 21:03] vmadev commented on #22
@marcharding

I am using the vagrant-plugin 1.2.1 along with the 384857 release of Winnfsd.exe

I usually run vagrant up from an elevated windows powershell using CMDer, I could also use cmd.exe or CMDer's built in bash as admin. But i have run vagrant up from an elevated bash as well. Its mainly npm which i try to keep to powershell.

Vic

[2016-08-02 21:13] marcharding commented on #22
thanks for the prompt reply :+1:

that should work (same setup here), although i know that npm does not work quite right all the time (see https://github.com/winnfsd/vagrant-winnfsd/issues/96).

i'll see if i can come up with something, but if udp work fine for you, maybe we just leave it at that :wink:

[2016-08-02 21:18] vmadev commented on #22
@marcharding Im the one who should be thanking you sir.......

Thank You.

[2016-08-07 18:34] #1 closed

[2016-08-07 19:05] marcharding commented on #28
This should be fixed with https://github.com/winnfsd/winnfsd/releases/tag/2.2.0. Please try again.

[2016-08-07 19:05] marcharding commented on #27
Fixed with 2.2.0.

[2016-08-07 19:05] #27 closed

[2016-08-07 19:06] marcharding commented on #22
I'm closing this because i just released 2.2.0 which includes all these changes.

If any of you still have problems, please open a new issue.

[2016-08-07 19:06] #22 closed

[2016-08-07 19:07] marcharding commented on #24
I'm closing this because it should be fixed in 2.2.0 (even when using tcp).

If the problem still occurs please reopen this.

[2016-08-07 19:07] #24 closed

[2016-08-07 19:08] marcharding commented on #9
Implemented in 2.2.0.

[2016-08-07 19:08] #9 closed

[2016-08-07 19:08] marcharding commented on #3
Fixed in 2.2.0.

[2016-08-07 19:08] #3 closed

[2016-08-07 19:10] marcharding commented on #15
Are you still having problems with multiple mounts or can i close this?

[2016-08-07 19:11] marcharding commented on #13
Are you still having problems here with 2.2.0 (just released) or can this issue be closed?

[2016-08-07 19:12] marcharding commented on #12
I'm closing this due to no activity and because the problem seems to be fixed already.

[2016-08-07 19:12] #12 closed

[2016-08-07 19:14] marcharding commented on #4
Is this still a problem?

[2016-08-07 19:22] achekulaev commented on #28
@marcharding thanks it works indeed!

[2016-08-07 19:32] #28 closed

[2016-08-08 13:58] cbj4074 commented on #13
I will re-test this tonight with `2.2.0` and report back. Thanks for all your hard work on this, @marcharding !

[2016-08-08 23:05] cbj4074 commented on #13
@marcharding

Still crashes for me in a fairly stock Ubuntu 16 VM. I'm using `2.2.0`. And, in fact, it crashes with only a single mount exported. (It also crashes with more than one, of course.)

And, interestingly, with this version, it crashes just the same way whether I start `winnfsd.exe` manually from `cmd.exe`, or I start it with Vagrant.

I'm using the mount options you listed a few posts b

[2016-08-08 23:19] cbj4074 commented on #13
Wow! I think I finally solved the mystery!

When I switched the protocol to `tcp`, the crashing stopped, but I would get stale file handle errors instead. They looked like this:

`[18:50:07] NFS LOOKUP \\?\C:\Users\Anon\Documents\Web\indietorrent\public\\index.html  STALE`

What I noticed is that there is a double `\\` just before the final path segment!

This prompted me to look at my mount optio

[2016-08-09 07:10] marcharding commented on #13
:astonished:

thanks for tracking this down. :+1:

i did not touch the path parsing stuff yet, but i'll take a look and fix that pesky trailing slash ;).

[2016-08-10 08:25] spdionis opened #29 "winnfsd crashing"
I'm using vagrant with the latest winnfsd binary. The latest version still hasn't fixed crashes and hangs.

Usually after half an hour or an hour nfs hangs, even if in the log there is no failed operation. Sometimes it crashes completely, and sometimes the shared folders simply don't show up in the guest machine.

Vagrant 1.8.5
winnfsd.exe 2.2.0
all mount options default
windows 7 host, ubuntu 14.

[2016-08-10 14:26] marcharding commented on #29
You got this behavior with previous versions as well, right?

Can you please try mounting with tcp instead of udp?

I know that udp sometimes "hangs" and can reproduce this, but still have not figured out whats wrong exactly.

I have not seen any real crashes however, just hangs. You experience real hard crashed, exe crashed, exception thrown, right? Do you have a reliable way to reproduce these h

[2016-08-10 14:27] marcharding commented on #29
One more thing

Any chance to reproduce that? That's something i never experienced. Did the mount command itself succeed and the folder is just empty?

[2016-08-11 08:20] spdionis commented on #29
I can't reliably reproduce the issues. But they happen when the filesystem is used heavily.

In my vm there are a few python crons and services that run often and hit the filesystem a lot to load the python scripts (I see that in the logging). After I deactivated them the vm remained stable a long time. If I let them run I get either a crash (exception) or missing shared folder in 15-30 minutes.

[2016-08-11 08:57] spdionis commented on #29
Adding the mount options in the line below in my vagrantfile (and running `vagrant reload`) did not change the memory behaviour. Note that I'm letting vagrant start winnfsd, not manually. Also I haven't found a way to check precisely if the mount is tcp or udp.

[code]

[2016-08-14 07:46] analytik commented on #15
Hm. I tried 2 mounts on Windows 7 host, CoreOS 899 VM, Vagrant 1.8.5, Vagrant-winnfsd 2.3.0 and it still froze. I didn't have logging on, and I didn't see any specific error besides the following that started repeating ad nauseum. The first mount seemed to work when I did `ls /opt/secondMount/` the console just froze, and `vagrant halt` couldn't properly shut down the machine.

![screenshot 2016-0

[2016-08-15 10:24] marcharding commented on #15
@analytik seems to me like some ipv6 address conflict?

[2016-08-15 10:27] marcharding commented on #29
I know about the memory leak, i think it started when the new filetable was implemented (see https://github.com/winnfsd/winnfsd/commit/a506962a6ac635aba15e9ef12f9b1fa2ff89e240). I suspect  your python process creates **a lot** of new files?

As for tcp: That won't change the memory behavior. Your mount options are ok, you can check the actual mount with `mount -v` or `nfsstat -m`.

[2016-08-15 11:08] spdionis commented on #29
The python processes are not maintained by me and I don't know what they do in depth, but I suppose they mostly read, instead of creating files. Want me to make sure of it?

[2016-08-24 12:05] zengxingdong opened #30 "A lot errors on Win7 X64 enterprise"
client fails to mount the second folder.  winnfsd is lastest version 2.2.0. it seems always got a wrong path.

for example;
 the mount point is "/home"
nfs demon get wrong path "/h:ome".

OS: win7 x64 enterprise.

[2016-08-24 12:08] zengxingdong commented on #30
and also there are lots others bugs:

if i write the path as "c:\test /home/"

then mount it on linux with "/home"

winnfsd will crash.  or make the path like "c:\test /home", and write mount path on linux with "/home/"

winnfsd also crashed.........

[2016-08-24 12:29] zengxingdong commented on #30
another error:

cannot copy folder from linux to windows:

[20:25:30] NFS LOOKUP \\?\c:\Users\exingze\Desktop\IPW_AutoInstall  OK
[20:25:30] NFS ACCESS \\?\c:\Users\exingze\Desktop\IPW_AutoInstall  OK
[20:25:30] NFS LOOKUP \\?\c:\Users\exingze\Desktop\IPW_AutoInstall\log  OK
[20:25:30] NFS ACCESS \\?\c:\Users\exingze\Desktop\IPW_AutoInstall\log  OK
[20:25:30] NFS LOOKUP \\?\c:\Users\exingze\Deskto

[2016-08-24 21:59] marcharding commented on #13
Hey @cbj4074, can you try if this [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/435753/WinNFSd.zip) fixes the trailing slashes problem? TIA!

[2016-08-25 06:19] marcharding commented on #30
https://github.com/winnfsd/winnfsd/issues/30#issue-172934099 and https://github.com/winnfsd/winnfsd/issues/30#issuecomment-242040247:
While i can't reproduce your problems, try again with this new [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/435753/WinNFSd.zip).

https://github.com/winnfsd/winnfsd/issues/30#issuecomment-242045158
I know about this, but have not yet figured out what exact

[2016-08-25 16:52] marcharding commented on #4
I'm closing this due to no activity (and i also think the problem is solved).

If that's not the case, i'll reopen it.

[2016-08-25 16:52] #4 closed

[2016-08-25 16:53] marcharding commented on #5
Do you still have problems with this? Otherwise i'll close this issue.

[2016-08-25 21:25] marcharding commented on #29
hey can you give this version a try [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/438091/WinNFSd.zip).

Its probably slower and may have some other bugs, since i just rolled back to a older, but much simpler filetable implementation (just to see if thats the main problem).

[2016-08-26 08:48] spdionis commented on #29
Unfortunately I couldn't really check for the memory leak because it hanged at the first request on a SETATTR operation.

[2016-08-26 11:19] marcharding commented on #29
Hm, that should happen with UDP but not with TCP.

Any chance you can provide me with the most simple test script to reproduce this?

[2016-08-27 19:20] zengxingdong commented on #30
i think you have done that updated version. thanks to your effort.
but the problem is the issue is same with before even though i have used the sw given by you.

error log:
MOUNT Path C:\Users\exingze\Desktop  with path alias  /home already known
Path C:\Users\exingze\Documents\tftproot  with path alias  /exports already known
MNT from 20.0.0.6
Final local requested path: \\?\C:\Users\exingze\Docu

[2016-08-27 20:54] marcharding commented on #30
I think i know whats wrong, can you paste you mount command, e.g. `mount -t nfs ip:/export `? i just need to know which path you want to mount.

[2016-08-28 00:00] marcharding commented on #30
Ok, i got it, try again with this file: [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/440907/WinNFSd.zip)

[2016-08-28 06:15] zengxingdong commented on #30
@marcharding thanks, test again, both mout path errors have been fixed successfully. this test is ok on my platform at least.

but for the third issue, it is still there. i have tried both UDP and TCP, both failure.
log is same as before:

`[14:03:55] NFS FSINFO \\?\C:\Users\exingze\Downloads  OK
[14:03:55] NFS PATHCONF \\?\C:\Users\exingze\Downloads  OK
[14:03:55] NFS FSINFO \\?\C:\Users\exingze\

[2016-08-29 08:43] spdionis commented on #29
Reproduce what exactly?

[2016-08-30 10:50] marcharding commented on #29
The SETATTR hangs.
I know these happen with UDP but never had one with TCP.
If i could reproduce that, i can probably fix it for both protocols.

[2016-08-30 10:56] marcharding commented on #30
I can reproduce the hang, but only with UDP, TCP works fine.

As for NLM: Probably will **not** be implemented any time soon.

[2016-08-30 16:47] marcharding commented on #15
@analytik any update?

[2016-09-07 13:32] magnetik opened #31 "Display application version in windows application property"
Currently, the application does not provide a way to see the application version in windows property (to check for the version for instance).

I do not know if it's easy to add, but it might be a nice enhancement.

Application property window:
![image](https://cloud.githubusercontent.com/assets/345029/18313655/04a96930-7510-11e6-863a-33ec826be8b7.png)

[2016-09-18 16:49] marcharding commented on #31
I'd like to add this in the next version 👍

[2016-09-21 12:55] esdrubal opened #32 "Winnfsd locking file after error"
I am trying out tup on a volume shared between windows and a vagrant image using https://github.com/winnfsd/vagrant-winnfsd, so far it is the only way I found to use tup reliably within a shared volume.

I found an issue where winnfsd locks a file inside .tup\tmp\ and I have to kill the winnfsd process in order to delete the locked file.

I ran winnsfd with log on and there is an error associated

[2016-09-21 14:03] esdrubal commented on #32
Looks like https://github.com/winnfsd/winnfsd/blob/0e5fd89dc701550621b66ad95697f09269568b7d/src/NFS3Prog.cpp#L741 may add a null file handle to the map, which would make it always fail.

[2016-09-21 14:45] marcharding commented on #32
Small NFS writes do not use the async method, therefore nothing should be added to the map.
When async writes are used, the file is probably locked until a NFS commit.

Can you provide me with a complete test case to reproduce this?

[2016-09-25 23:31] aselby commented on #28
![image](https://cloud.githubusercontent.com/assets/10297047/18819059/97533ee2-8356-11e6-8a1c-125e53f37e4b.png)

I'm still having the issue when connecting from kodi (kodi.tv)

[2016-09-26 07:33] marcharding commented on #28
@aselby i just fixed kodi support in the last few days, will release a new version later today.

[2016-09-26 13:33] gregordoltar commented on #15
Hi all,

I made quite some changes to code (mostly memory fixes) but also quite some others. I am however not able to push this to repository. I am also not able to run the unit tests wit my version and also with older versions (test with writing files always seems to hang).

My changes are following:
+ memory leaks,
+ nfs file handle size (some nfs clients do not like 64 bit handles and do not al

[2016-09-26 21:23] marcharding commented on #28
Please test with this version [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/494140/WinNFSd.zip) and report back. I'll probably release this tomorrow (would be nice if you can report back by then).

I'm using it with kodi without problems.

[2016-09-26 21:46] marcharding commented on #15
@gregordoltar thanks! that's quite a big commit.

i'll take a look at this and probably split it into several pull requests.

Which tests hang for you?

Can you try if the following hangs for a specific count of bytes **(cauton: this creates A LOT of files and takes some time)**?

`for i in {0..10240}; do $(dd if=/dev/urandom of=/nfs/mount/path/$i-bytes bs=$i count=1); done`

Would you mind creati

[2016-09-27 01:37] aselby commented on #28
As soon as the debate is over ... I will give it a try ... thanks

On Mon, Sep 26, 2016 at 5:23 PM, Marc Harding <notifications@github.com>
wrote:

[2016-09-27 07:37] gregordoltar commented on #15
Hi,

Would you mind creating a separate issue for your changes?
Sure I can do this. But my changes are "general". Memory leak fixes are included. My three issues are:
- fixes for junction points,
- fixes for canonical paths (you can see this problem with VMWare VMX),
- fix for size of handles

Should I open issues for each of them ?

As for the tests, yes I will test it.

[2016-09-28 01:12] aselby commented on #28
![image](https://cloud.githubusercontent.com/assets/10297047/18897298/f9779fc2-84f6-11e6-80b9-a824e4244086.png)
This is with the new version you sent, when I add a network source (on kodi) and either click on Network File System (NFS) or on a nfs:// share that browses to it this is what I get

[2016-09-28 01:15] aselby commented on #28
![image](https://cloud.githubusercontent.com/assets/10297047/18897325/4e1ca4be-84f7-11e6-8678-f0203be6aa02.png)
when I click on the share that worked with the old version ... I now get this mounted in the OS

[2016-09-28 17:21] marcharding commented on #28
/ as the share does not work, try it like this and it should work (just tested it with kodi):

`winnfsd.exe s:\movies /movies`

[2016-09-28 17:29] marcharding commented on #28
With [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/498839/WinNFSd.zip) / works again as a share.

Final release coming later.

[2016-09-28 23:40] aselby commented on #28
I will try it ... does the "discovery" work ?

On Wed, Sep 28, 2016 at 1:29 PM, Marc Harding <notifications@github.com>
wrote:

[2016-09-29 07:23] marcharding commented on #31
Added in 2.3.0.

[2016-09-29 07:23] #31 closed

[2016-09-29 07:43] marcharding commented on #5
Closing this due to no response

I also think this is probably fixed in one of the more current releases as this issue is more than a year old.

[2016-09-29 07:43] #5 closed

[2016-09-29 11:59] marcharding commented on #13
Is this still a issue with 2.3.0? Should be fixed there...

[2016-09-29 22:22] marcharding commented on #15
@gregordoltar:

One issue is okay, just so that we do not make this issue even bigger (i wanted to close this issue soon).

I'm currently a little busy, so it will probably take until next week until i can take a deeper look your patch.

If the patch is applied in its current form common.hh is missing and i get compile errors related to missing g_FHSIZE and g_NFS3_FHSIZE (probably because these ar

[2016-10-03 19:08] gregordoltar commented on #15
Hi,

I will do it. But I am a little bit busy.

Regards,
Gregor

[2016-10-03 19:56] marcharding commented on #29
@spdionis can you try if [this](https://github.com/winnfsd/winnfsd/files/507074/WinNFSd.zip) version with fixes from @gregordoltar helps with the memory leak?

[WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/507074/WinNFSd.zip)

[2016-10-03 20:23] spdionis commented on #29
will do tomorrow :+1:

[2016-10-04 14:51] gregordoltar commented on #15
Hi,

forgot to add this missing file.

Regards

On 30.9.2016 0:22, Marc Harding wrote:

#ifndef common_hh_
#define common_hh_

extern size_t g_FHSIZE;
extern size_t g_NFS3_FHSIZE;

#endif //common_hh_

[2016-10-06 21:08] marcharding opened #34 "Memory leak fixes, canonical paths, 32bit handles"
see #15, further discussion in this issue.

[2016-10-06 21:08] marcharding commented on #34
see https://github.com/winnfsd/winnfsd/tree/gregordoltar-patch for merged patch against current develop branch.

[2016-10-06 21:10] marcharding commented on #15
Hey @gregordoltar,

i already merged all changes against the current develop branch and pushed them to https://github.com/winnfsd/winnfsd/tree/gregordoltar-patch.

Lets discuss further stuff in this separate issue here https://github.com/winnfsd/winnfsd/issues/34.

[2016-10-06 21:11] marcharding commented on #13
I think this is fixed in 2.3.0.

Since there are no further responses i'm closing this.

[2016-10-06 21:11] #13 closed

[2016-10-06 21:14] marcharding commented on #30
I'm closing this since the path issue you had in the beginng is fixed in 2.3.0.  Thanks for helping me tracking it down!

Feel free to open a new issue for the "hanging" error.

As for NLM: As stated before this will probably not be implemented any time soon, sorry.

[2016-10-06 21:14] #30 closed

[2016-10-06 21:15] marcharding commented on #29
Any news here ❓

[2016-10-06 21:30] spdionis commented on #29
I was sure I left a comment :/ It crashed on startup unfortunately.

[2016-10-06 21:38] marcharding commented on #34
I do not think case sensitivity should be removed

https://github.com/winnfsd/winnfsd/commit/494e719312dece60d2a04c7c77284c0c21f54704#diff-d5f03f6d54cca6f3ce516e43eb015e5dL354

see https://support.microsoft.com/en-us/kb/100625 for details about that.

As for all the other changes:

Seems to be good, tests do finish without problems https://ci.appveyor.com/project/MarcHarding/winnfsd-6y1xi/build/1.

[2016-10-06 21:45] marcharding commented on #29
That's not good, the tests do finish without problems.

Seems like some sort of crash reporting needs to be added so we can track this down.

[2016-10-06 21:51] marcharding commented on #29
Does version [2.3.0](https://github.com/winnfsd/winnfsd/releases/download/2.3.0/WinNFSd.exe) also crash immediately?

[2016-10-07 07:30] spdionis commented on #29
Version 2.3.0 starts fine and seems to work without problems. The memory leak is still present tho.

[2016-10-07 09:12] marcharding commented on #29
Thanks! Just wanted to make sure that i did not introduced some bug in 2.3.0.

Will report back with a new version in the next days.

[2016-10-08 15:34] marcharding commented on #34
There seem to be issues with this build, see https://github.com/winnfsd/winnfsd/issues/29#issuecomment-252094602

[2016-10-09 11:48] gregordoltar commented on #29
@marcharding

regarding memory leak. I was using http://www.drmemory.org/ to discover memory leaks.
There is however one catch. winnfsd creates a virtual copy of a filesystem in memory and this memory is never freed. This is ok because memory is anyway freed upon program termination. But dr memory will demonstrate it as leak.

[2016-10-10 06:37] spdionis commented on #29
Yes but it's not nice for winnfsd.exe to consume 2gb ram on my machine. Depending on what I do with the vm i get anywhere between 800mb and 2gb ram consumption.

[2016-10-10 23:07] gregordoltar commented on #29
@spdionis

Is memory usage then steady or does it grow ?
How does your export folder look like ? Do you have simple filesystem or do you have links to other folders/files ? When does it start to grow ? For example:

#1 if you mount your export folder and do "find ." on it. What is the memory footprint ?
#2 if you only do reads what is the footprint then ?
#3 does it happen when you perform writes

[2016-10-11 14:18] spdionis commented on #29
@gregordoltar

* `find .` does show memory rising, and after ending the command the memory is not taken back. It does not rise immediately, but only after running for 10 seconds or so. I think it started rising immediately on the first run (want me to retest?). I suppose this is because of some caching mechanism.
* In my tests I cannot say precisely that reads or writes impact memory more or less

[2016-10-11 15:03] GM-Alex commented on #29
You guys should think how nfs can speed up the file reads. Yes by caching the files to the ram. So the find command definitely should rase the memory until the files aren't deleted. Only delete should decrease the memory consume.

[2016-10-11 17:28] marcharding commented on #29
Files are not cached in ram.

The "virtual filesystem" as @gregordoltar calls it is needed to map nfs file handles (ids) to the the actual file path. On *nix system this is quite easy, one can just use the  inode number. On windows this is not that easy. While ntfs has unique file id (per drive), they do not exist for fat32.

The current implementation leaks memory, because every time a path is re

[2016-10-14 15:51] marler8997 opened #35 "Which version of GPL is this licensed under?"

[2016-10-14 21:28] marcharding commented on #35
The [original repository](https://sourceforge.net/projects/winnfsd/) at sourceforge is licensed under **GNU General Public License version 2.0 (GPLv2)**, so this probably applies here too.

[2016-10-14 21:28] #35 closed

[2016-11-03 20:19] das-peter opened #36 "2GB Ram Limit / 64x version"
Hi there,

I think the current version is limited to use 2 GB of memory due it's 32bit architecture.
When I use it the mounts become regularly unresponsive and when I check the task manager the winnfsd.exe is at about 2GB of RAM.
According to https://en.wikipedia.org/wiki/2_GB_limit we might can set a flag to increase allowed memory consumption:

But it would be nicer if we'd have some sort of gar

[2016-11-04 14:30] cbj4074 commented on #15
@marcharding The last two or three builds have been rock-solid for me. I have several different mounts and am hammering on them pretty hard in the course of regular usage (mostly via Composer). I can't speak for the OP, but where my usage is concerned, this is resolved.

[2016-11-04 14:39] cbj4074 commented on #13
Sorry for the delayed response here! I haven't had much time to fiddle with this until the past week or so. But yes, the latest build is running like a well-oiled machine! Thanks again for your brilliant work on these fixes; I'm super appreciative!

[2016-11-16 13:51] spdionis commented on #29
I would close this issue, maybe in favor of some more specific issue. I have not had crashes for a while now with the latest version and memory usage is fine for most use cases.

Originally I opened the issue with much worse problems that apparently were caused by crons running python, which wrote lots of `.pyc` files trashing the nfs share. This issue doesn't have a goal anymore except a general

[2016-11-18 06:16] ericclone opened #37 "What is the correct format for mounting files?"
I just discovered winnfsd. I created a file called share.txt. In this file I have a few lines:
[code]
But when I run WinNFSd.exe -pathFile share.txt, I get this error:

[code]

What is the correct format for the file? Thanks.

[2016-11-18 06:57] ericclone commented on #37
Ah ok I figured it out after reading the source code. It should be sourcepath>alias. My share.txt needs to be written as:

[code]

[2016-11-18 06:57] #37 closed

[2016-11-18 07:31] marcharding commented on #37
When using an alias use >, though you can just omit the alias part, e.g.

[code]

results in the following shares

[code]

I'll update the documentation with the next release.

[2016-12-07 18:22] daveespo opened #38 "Publish new binary for 2.3.1"
Any chance you can publish a new winnfsd.exe on the Releases page for 2.3.1 like you have for prior releases?  (https://github.com/winnfsd/winnfsd/releases)

Thanks!

[2016-12-07 20:07] marcharding commented on #38
Sure, i just forgot 😉 . It is there now.

[2016-12-07 20:07] #38 closed

[2016-12-07 22:32] daveespo commented on #38
Thank you!

[2016-12-07 23:01] marcharding commented on #36
Hi, take a look at issue https://github.com/winnfsd/winnfsd/issues/29 where this behavior is discussed.

I think that merging the changes from @gregordoltar will probably migitate the issue quite a lot. Sadly there are some reports of winnfsd.exe crashing when the changes are applied. I'll come back to this in february...

[2016-12-08 03:00] KreAch3R opened #39 "Win10, Android 5.0, Kodi: PORTMAP CALLIT - NOIMP"
Hello, I just found this great program and I'm trying to make it work on my Windows 10, using my tablet Pixi3 (10) (Android Lollipop 5.0) and Kodi 16.1 (from playstore). Both are connected to the same network (PC with Ethernet and Tablet with WiFi).

My Server (Windows 10) is using the **192.168.1.6** IP address. I am using the latest .exe, although I did try with the rest that I found in the open

[2016-12-08 08:18] neurohunter opened #40 "Store log in a file"
Currently logging is only available as STDOUT, so it's completely hidden if winnfsd is used as a service.
Is it possible to add logging to file?

[2016-12-08 13:06] marcharding commented on #39
Did you use the discover function in Kodi to search for shares on 192.168.1.6? This does not work yet.

When you directly add the share, e.g. 192.168.1.6/Videos it should work.

Binding to 0.0.0.0 just means winnfsd is listening on all  devices.

[2016-12-08 17:03] KreAch3R commented on #39
@marcharding yes, that was exactly what I was trying. I had no idea the function would be different. It indeed works!

Now time to make it into a service. Thank you for this. :)

[2016-12-08 17:03] #39 closed

[2017-01-27 23:28] KreAch3R commented on #32
@marcharding I think I am also experiencing the same bug, but in a very different scenario. Mine though is completely reproducible, so here it is:

Still in the usecase of the issue #39 , when I try to download subtitles from inside Kodi (the program will write the file in the same folder as the .mkv file being played), I will always get the error below:
[code]

I can solve this (and then the .srt

[2017-02-15 18:24] andre-d commented on #34
This paths fix is important to the nfs client used in a particular application in our environment.   what is the status of this fix being mainlined, is there more work to be done to get it integrated?

[2017-02-16 16:38] JakeTheSnake3p0 opened #41 "Hangs at 25% CPU utilization in some situations"
When winnfsd.exe fails, it hangs around 25% CPU utilization +/- 2% for a long while and then begins to creep up over time; no errors are logged to the terminal. I can't speak to what is causing the error specifically, because it crops up in different situations.

1) When running bundler on a rails project. It typically happens when bundler is almost finished compiling Gemfile.lock.

[code]

2) Whe

[2017-02-17 14:12] marcharding commented on #34
@andre-d some users reported crashes with these fixes (see comment above) and i did not find time to check it out, yet.

You can try the appveyor build youself https://ci.appveyor.com/project/MarcHarding/winnfsd-6y1xi/build/1.0.30 and see if there are any problems.

[2017-02-23 22:59] MegaCron opened #42 "The characters in the coding cp1251 displayed incorrectly"
The characters in the coding cp1251 displaying question marks "???". If the characters are converted to UTF-8 encoding, the characters are displayed correctly.

[2017-02-23 23:55] JakeTheSnake3p0 commented on #41
Turns out changing to UDP avoids the issue altogether. I also added noatime to the mount as it wasn't necessary for me to track last-accessed stats.

[code]

[2017-02-23 23:55] #41 closed

[2017-03-28 11:38] jxmallett opened #43 "Include a link to the latest binary"
Thanks for your work on this.

I was thinking I'd have to build this from source but I found your AppVeyor project. It would be great to add this link to the readme file.

The latest binary can be found here:
https://ci.appveyor.com/project/MarcHarding/winnfsd-6y1xi/build/artifacts

[2017-03-29 06:15] marcharding commented on #43
You can also find the binares under releases https://github.com/winnfsd/winnfsd/releases (all officially relased versions) .

[2017-04-01 01:07] jxmallett commented on #43
Ha, not sure how I missed that. Thanks!

[2017-04-01 01:07] #43 closed

[2017-05-08 20:02] dev-rke commented on #32
Hi @marcharding,

i assume that i also experienced this bug, but in Windows 10 only, i cannot reproduce it on Windows 7.
Detailed description is here:
https://github.com/winnfsd/vagrant-winnfsd/issues/108

I can reproduce this always, when i lock a file in the host system manually with Excel.

[2017-06-04 12:02] miguelBarreiro85 opened #44 "How to install"
There is no .exe is necessary use make install or what?
Sorry im a litle noob! x)

[2017-06-04 13:31] jamesmacwhite commented on #44
@miguelBarreiro85 The compiled exe can be found under releases:

https://github.com/winnfsd/winnfsd/releases

[2017-06-04 19:14] Gamesh commented on #29
i'm having probably the same issue, after a while winnfsd just hangs, i'm using it with vagrant also. I would say in about 1-2hours of runtime the nfs just hangs and you can't even cd into synced folder on the VM.
winnfsd does not show any CPU usage on windows, the RAM is at 5MB, but i must restart the VM in order to make it operational again

[2017-06-10 12:51] Gamesh commented on #29
So i noticed that the hang only happens when using TCP, but if i switch to UDP everything works as expected.

[2017-06-11 16:30] #44 closed

[2017-06-13 16:48] jimbasilio opened #45 "hang after system resume?"
Hi:

Running most recent vagrant (1.9.5) and the vagrant-winnfsd (1.3.1) plugin.

First - THANKS!! Hopefully this will eventually result in faster file sharing to vagrant.

My issue (I think it's winnfsd but unsure how to test):

When I suspend/resume my laptop, my nfs shares are hung inside of linux. The log message is:

Jun 12 09:24:16 localhost kernel: nfs: server 172.28.128.1 not responding, s

[2017-06-17 02:19] Yasushi commented on #42
Sorry, I hard-coded it with CP932 ( 1784f704ec5e ).

[2017-06-17 08:34] marcharding commented on #42
@Yasushi Would it work if we just use utf8?

[2017-06-17 16:32] Yasushi commented on #42
@marcharding No.

// Below is Google Translate. I'm sorry.

Since the current implementation uses the ANSI String API, it depends on the code page of the process. It should be correctly implemented according to each code page, but it is hard-coded in CP 932 as described above.

It should be implemented with the Unicode strings API, but it did not work. Because there was a part assuming that filena

[2017-06-19 08:00] marcharding commented on #42
Ok, that would mean quite some work. Thanks for the info.

[2017-07-25 09:13] planesweep opened #47 "Execute flag/permission can not be set"
Hello,

I am not able to set the execute flag/permission of files with

- sudo chmod +x or
- via mount -o 'vers=3,nolock,udp,exec'

Any suggestions?

Used version https://github.com/winnfsd/winnfsd/releases/tag/2.3.1

[2017-08-11 13:23] dreamon11 opened #48 "winnfsd hangs with VPN enabled"
Hi,

With VPN enabled, `vagrant up` hangs while "Mounting NFS shared folders". If I stop VPN, shared folders are well mounted. If I try to reconnect VPN after `vagrant up`, I cannot access to my virtualbox.

When I put into my Vagrantfile:

`config.winnfsd.host_ip = LOCAL_IP_MY_LAPTOP`

it works (shared folders are well mounted, `vagrant up` is OK), but the virtualbox hangs sometimes :/ For exampl

[2017-08-11 16:18] dreamon11 commented on #48
Move to: https://github.com/winnfsd/vagrant-winnfsd/issues/112

[2017-08-11 16:18] #48 closed

[2017-08-31 05:47] Toilal commented on #15
I'm running Windows 10 too, and it's really solid now. Maybe there are some leaks remaining, but it had never crashed from now since i'm using this tool.

[2017-09-01 13:11] analytik commented on #15
Yeah, things have been very stable for me too. I did manage to freeze my CoreOS VM a few times, if anyone wants to reproduce, map a folder with this package.json
[code]

and then inside your VM run something like
[code]

For me this froze pretty reliably. But otherwise, things have been running smoothly. Thanks to everyone for contributing!

[2017-09-01 13:11] #15 closed

[2017-09-07 08:00] friendshingle opened #50 "Stale NFS file handle"
Hello,

I downloaded the source and compiled, the server works fine at most time.

But if I shutdown the server (by killing the WinNFSd.exe) and start it again, the NFS client will not able to use. And report "Stale NFS file handle" if I try to umount the directory in the client.

I try other NFS server (in linux), it works OK in the above case.

[2017-09-08 18:10] cbj4074 commented on #50
This issue has plagued me, too.

The opposite scenario is equally problematic. That is to say, if I boot a VM that uses this plugin, and then I shutdown the VM (note that `winnfsd.exe` continues to run in the background), and then I boot the VM back up, it fails like this, with `Stale NFS file handle` in the winnfsd log:

[code]

Furthermore, this bug makes is impossible to switch back and forth b

[2017-09-10 16:07] marcharding commented on #50
i already spend quit some time on this.

the problem:

winnfsd creates its own file ids during runtime and does not persist them. when using a unix nfs server, it will just reuse the already existing inode. this is consistent, even with reboots/restarts of the server.

The solution would be to use the NTFS fileid everywhere (see https://msdn.microsoft.com/de-de/library/windows/desktop/aa363788(v=v

[2017-09-27 07:25] Toilal commented on #50
For googlers here, winnfsd log is displaying `NFS ACCESS fail` and `STALE`.

I'll try to fix the issue and open a pull request if I succeed ...

[2017-10-02 05:29] Toilal commented on #45
When using #51, It displays `Exception: bad allocation`.

[2017-10-02 05:45] Toilal opened #52 "Bad allocation"
After setting up visual studio debuger and enhanced error message handling with #51, I can now help to diagnose crashes we experience in my dev team.

It throws an exception with message `Bad allocation` after a while.

When I debug, it fails to create a new char array in [FileTree GetNodeFullPath](https://github.com/winnfsd/winnfsd/blob/4e412a75494a29b71d10b3be2b90460e96e3828c/src/FileTree.cpp#L2

[2017-10-03 05:53] Toilal commented on #29
Could you try this exe ? It includes #53 and #51 and fix and seems to fix memory related crashes.

[WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/1351251/WinNFSd.zip)

[2017-10-03 05:54] Toilal commented on #34
Could you try this exe ? It includes #53 and #51 and fix and seems to fix memory related crashes.

[WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/1351251/WinNFSd.zip)

[2017-10-03 06:03] Toilal commented on #47
on windows host, it's not possible to store those permission.

It would actually require to implement an additional store to read/write those permissions (=> metadata database).

[2017-10-03 09:23] marcharding commented on #50
For ntfs one could achieve persistent file handles when using the ntfs file id.

I have this working quite nicely in a test build, but its slow (because i removed the tree). Maybe its worth another look, i'll clean up the code and push it to a new branch.

[2017-10-03 10:03] Toilal commented on #50
About code cleanup, after merging pull requests, it will be nice to format all source files with consistent tabs. (4 spaces everywhere would be great :p)

[2017-10-03 11:40] Toilal commented on #29
@marcharding I think issue reported by @Gamesh is not the same as the initial one, maybe you could create another one ?

[2017-10-03 17:10] Gamesh commented on #29
this issue was the closes i could find the issues list. Anyway i tried this exe, is still hung after a while, so no change.

[2017-10-03 17:52] Toilal commented on #29
It hungs for me too, but fix another crash related to memory leak. I'm now testing with udp, can you confirm the deadlock only occurs with tcp mode?

[2017-10-03 18:10] Gamesh commented on #29
yes, it only occurs if set to TCP, if switched to UDP, the hang does not occur.
my other mount options are:
[code]

[2017-10-04 07:01] Toilal opened #54 "GetItemByID may return NULL on REMOVE processing"
I just hit an exception on processing a `REMOVE` request because [FileTable::GetItemByID()](https://github.com/winnfsd/winnfsd/blob/master/src/FileTable.cpp#L193-L209) has returned NULL Pointer for an ID that was requested during processing.

`REMOVE` processing go through `CNFS3Prog::ReadDirectory` method

[code]

Problem is that `GetFilePath` returns a NULL pointer.

`fileRequest.dir.contents: 0

[2017-10-04 07:42] Yasushi commented on #29
https://github.com/winnfsd/winnfsd/blob/4e412a75494a29b71d10b3be2b90460e96e3828c/src/RPCServer.cpp#L107-L109

If set to TCP, WinNFSd will ignore the record fragment header, so the client hangs up.

[2017-10-04 08:26] Toilal commented on #29
Great Yasushi. Do you think we only have to remove this condition ? And why does it hung after a while only ? it should hung at first call, isn't it ?

[2017-10-04 09:08] Yasushi commented on #29
It is necessary to rebuild the fragment record properly.
The timing to hang is the moment we received a fragment record.
I did not know the condition for the client to send fragment records.

[2017-10-04 12:58] ArminVieweg opened #55 "Can't start winnfsd.exe on Windows 10 Pro"
Hey,
I've got two PCs using Windows 10 Professional. One desktop, one laptop.
On my desktop, everything works fine.

On my brand new laptop not. When I am using a Vagrantfile which works on Desktop, on my laptop the process hangs up, when `==> default: Mounting NFS shared folders...`

When I check processes, there is no NFS service, on laptop. On Desktop (where it works) there is such process.

Wh

[2017-10-04 16:24] jamesmacwhite commented on #55
@ArminVieweg I recently had issues with `vagrant up` hanging on "Mounting NFS shared folders" too (when it had worked fine for months). Also Windows 10 Professional, on my Dell XPS 9550.

In the end, I ended up updating Vagrant and VirtualBox to the latest versions and then made sure guest tools were installed in the virtual machine and matched the version of VirtualBox. Then rebooted.

After doin

[2017-10-04 19:06] ArminVieweg commented on #55
I've got a brand new Thinkpad P51s. And it is less than two weeks ago, that I've set up the laptop entierly. So all versions are up2date.

When I execute winnfsd.exe at the Desktop PC, I'll get the help text of winnfsd. On my laptop a windows error occures (which try to fix... blah blah).

I also don't use VPN, but I'll check the network settings.

Are there any libraries required to be installed?

[2017-10-04 19:30] ArminVieweg commented on #55
Okay. This is weird. Now it works. But I'm at home. Not at work, where I've had the issues. Can the network influence this? Both are wifis with DHCP.

[2017-10-04 19:36] jamesmacwhite commented on #55
Yes potentially. Network is important.

Do you have set in your Vagrantfile?

[code]

[2017-10-04 19:41] ArminVieweg commented on #55
Yes.

[2017-10-04 19:47] jamesmacwhite commented on #55
If it worked at home, but not in another location, then as I was saying before network is a likely area.

At work, if you have some form of proxy server interfering potentially.

[2017-10-05 07:43] ArminVieweg commented on #55
I have absolutely no idea... but now it works. Also at work. I did not change anything! If the issue occures again I start a new topic. Thanks!

[2017-10-05 07:43] #55 closed

[2017-10-12 06:05] Congee commented on #42
Well, it's worth noting that NFS v4.1 demands UTF-8 capabilities. See,
https://unix.stackexchange.com/questions/105223/how-to-mount-an-ntfs-drive-as-utf8-over-nfs

[2017-10-13 07:49] marcharding commented on #29
For me this occurs when using udp and not tcp.

[2017-11-08 23:40] cbj4074 opened #56 "Unable to see or read hidden files in Windows 10 Fall Creator's Update"
`WinNFSd 2.3.1 [ff041cb]`

Has anybody else tried `winnfsd.exe` on Windows 10 Fall Creator's Update?

WinNFSd was working great for me prior to, but after installing this update, I notice that hidden files (those whose name begins with a dot `.`) cannot be accessed; they don't appear in directory listings and despite being able to `stat`, any attempt to open them results in read errors.

The stat

[2017-11-13 17:26] Toilal commented on #52
So this one in fixed with the merge, thanks.

[2017-11-13 17:26] #52 closed

[2017-11-13 17:26] Toilal commented on #54
Fixed

[2017-11-13 17:26] #54 closed

[2017-11-13 18:11] marcharding commented on #52
I also published the new gem. Thanks for your work on this 🎉

[2017-11-13 18:12] marcharding commented on #47
What @Toilal is correct (there are some ntfs attributes which could me used, but it is not worth it), this will not be implemented, sorry

[2017-11-13 18:12] #47 closed

[2017-11-13 22:55] marcharding commented on #29
The `PORTMAP GETPORT 100024 0` occur because there is no such program, see
https://github.com/winnfsd/winnfsd/blob/5f7f224a3a09a60f61a8b2643f945084952ae172/src/winnfsd.cpp#L23-L25

Wiki says some status daemon should be there, see https://en.wikipedia.org/wiki/Portmap

I'll look into it if i have some time. I'll split that from this issue.

--

I think this issue can be closed?

[2017-11-13 22:55] marcharding opened #57 "PORTMAP GETPORT 100024 0 "Error""
The `PORTMAP GETPORT 100024 0` occur because there is no such program, see
https://github.com/winnfsd/winnfsd/blob/5f7f224a3a09a60f61a8b2643f945084952ae172/src/winnfsd.cpp#L23-L25

Wiki says some status daemon should be there, see https://en.wikipedia.org/wiki/Portmap

[2017-11-13 23:01] marcharding opened #58 "PORTMAP GETPORT 100021 0 "Error""
This occurs because winnfsd has no nlockmgr (and probably will never have).

The solution is easy, just mount your share with the `nolock` option.

[2017-11-13 23:33] marcharding commented on #56
No issues here, windows 10 fall creators update, winnfsd 2.3.1/2.4.0 (no problems with both versions).

[2017-11-14 01:34] cbj4074 commented on #56
Thanks, @marcharding ! Glad to know that it should still work on Fall Creator's Update.

Any idea what else might be causing this? Never seen it before?

Thanks again for the reply. Feel free to close this if you don't recognize this issue, and I'll re-open it when I can reproduce it on more than one system.

[2017-11-14 22:53] cbj4074 commented on #56
I just upgraded to `vagrant-winnfsd-1.4.0` via `vagrant plugin update` and the problem is gone! The cause seems to be academic at this point; let's close it!

[2017-11-14 22:53] #56 closed

[2017-11-23 22:03] Yivan opened #59 "Very slow writing performance, compared to haneWin NFS Server for instance."
Thanks for this nice free alternative for making a nfs server on Windows. So few exists!

I wanted to use Winnfsd and replace haneWin NFS Server which is not open source with Winnfsd. So I proceeded to benchmark read and write speed to check all is ok with Winnfsd. It found that read speed is same, but Winnfsd write speed is around 10x slower than haneWIN NFS Server.

Mounts have exactly the same

[2017-11-23 22:08] Yivan commented on #59
I should just add used option used in the mount are: `rw,hard,nolock`, no option is configured on the export.

[2017-11-28 21:15] cbj4074 commented on #59
@Yivan Did you run your tests with both `tcp` and `udp` in the mount options? If not, can you re-run them with `udp` specified?

[2017-11-29 20:32] Yivan commented on #59
@cbj4074 Thanks for looking for it.

My test was with TCP.
I just tested winnfsd by mounting it with option proto=udp, and write speed is the same (around 5 MB/s).
(i checked with `mount `command that my mount is in UDP, and it was)

[2017-11-30 16:02] cbj4074 commented on #59
@Yivan Great; thank you for testing with both protocols. I don't have an explanation or a solution for you, unfortunately, but I'm sure that your efforts will assist the developers in assessing the situation.

[2017-11-30 17:27] marcharding commented on #59
`83886080 bytes (84 MB) copied, 0.309554 s, 271 MB/s`

`nfs (rw,vers=3,udp,vers=3,tcp,addr=192.168.56.1)`

There seems to be something wrong with your machine and/or mount. Maybe some antivir?

If you're using virutalbox, try the virtio network interface.

[2017-12-01 01:27] Yivan commented on #59
Thanks marcharding.
But changing to virtio is the same speed.

I just tried on a totally different computer (Windows 7SP1 instead of Windows 10, différent firewall/antivirus, but they are desactivated during my tests).

On this other setup (so W7 SP1), i cannot test because WinFSD don't work... Mounting is ok, i can `cd` in the mount, but when i run:
`dd if=/dev/zero of=./output bs=8k count=10k; r

[2017-12-04 13:41] marcharding commented on #59
Are you using the latest version (2.4.0)?

[2017-12-04 15:36] Yivan commented on #59
Yes the last 2.0.4

[2017-12-10 11:32] dev-techmoe opened #60 "Can't display chinese filename"
All chinese filename display as question mark.

example:
![image](https://user-images.githubusercontent.com/7919562/33804449-39631a42-dde0-11e7-9a04-506201c59fa7.png)
![image](https://user-images.githubusercontent.com/7919562/33804450-3fb80e34-dde0-11e7-983c-8299de331599.png)

I'm not find any way about change the charset of mount command in Ubuntu, I think adding a charset option in this tool is

[2018-01-11 20:11] dev-krs opened #61 "Large write fails when multiple COMMITs are received sequentially"
I encountered repeatable write errors while transferring large (>70 MB) files from an embedded system using the WinNFSd server.  The transfers would abort with an error beginning at random locations within the file.

With Wireshark, I tracked down the point of the error to a place where the WinNFSd server received two or more COMMIT calls without an intervening WRITE call.   See capture summary be

[2018-01-14 21:03] marcharding commented on #61
Thanks for the detailed bug report. I'll prepare a new version in the next days.

[2018-01-14 21:07] marcharding commented on #50
I'm using kodi with no problems.

Just to be sure: You can mount and show the root folder but all subfolder result in a stale file handle?

Can you share the exact cmd line arguments with which you startet winnfsd and also the exact path that you used in kodi?

[2018-01-15 00:55] Techhead33 commented on #50
The command that I am using is: WinNFSd f:\video\completed /xone. In kodi I am using the add network location putting in my ip address in the remote address field and xone for the remote location so the full path in kodi is nfs://192.168.1.x/xone. Under the the f:\video\completed folder I have folders for each letter a, b, c... and under those folders are folders with movies. In kodi when I click

[2018-01-15 08:00] marcharding commented on #50
I remember some problems when a folder was only one character short (i'll look into that).

Would you mind trying e.g. completed/aaaa instead of completed/a?

[2018-01-15 15:15] Techhead33 commented on #50
I tried done/aaaa and done/bbbb and got the same results. It is also saying
[10:13:54] NFS LOOKUP \\?\f:\video\done\..  STALE
[10:13:54] NFS LOOKUP \\?\f:\video\done\.  STALE

[2018-01-15 16:27] marcharding commented on #50
Just tried it with no problem, but i noticed you pasted this

[code]
but it should be

[code]

notice the missing /.

Please try this:

[code]
notice the added \

[2018-01-15 17:20] marcharding commented on #50
What do you mean by that:

Is it working now (regardless the wrong log output)?

[2018-01-15 18:05] Techhead33 commented on #50
Sorry for the confusion...
When i use the new folder structure under the F: drive i created below i am able to browse the aaaa and all sub folders.  If I go back to the f:\video\completed folder structure then it is not working and I get the stale folder message. So I am not sure if there is something on the windows side that is causing an issue with the f:\video\completed folder structure.

f:\fi

[2018-01-15 18:41] marcharding commented on #50
Hm, i just tried is with your folder structure (video\completed) with no problems.

[2018-01-15 18:54] Techhead33 commented on #50
I am wondering if it is less about the folders being video\completed and something more with windows itself doing something to those specific folders on my system. I have had it disabled while testing the different command parameters, but those folders were also being shared with a Plex server.

[2018-01-16 17:19] marcharding commented on #50
I've no clue sorry.

[2018-01-16 17:22] #34 closed

[2018-01-16 17:48] marcharding commented on #61
I tried to reproduce this but have no problem writing large files.

Nevertheless, i see no harm in your changes, releasing a new version with you fix.

[2018-01-17 01:14] dev-krs commented on #61
I'm guessing that my Virus Scanner/Firewall is interfering with the received packets somehow.  E.g. for packets 127..136,  10 COMMIT packets were received in 5us.  Sorry, I can't turn the firewall off to test this hypothesis..

[2018-01-20 22:45] Yivan commented on #59
@marcharding
Any update on this ?

Maybe you could try to install HaneWin on your side and benchmark it against winnfsd
https://www.hanewin.net/nfs-e.htm
There is a 30 days free trial if i remember. Or you can buy it it's not so much expensive.

If you get this `83886080 bytes (84 MB) copied, 0.309554 s, 271 MB/s` maybe your setup has better ssd/config power than me and with hanewin the result wil

[2018-02-03 08:45] friendshingle opened #62 "Not able to write file content when using option "tcp", but OK for option "udp""
Hello,

My server cannot write data file content when I use option "tcp", I used the following command:
       mount -t nfs -o nolock,nfsvers=3,tcp 192.168.1.2:/nfsroot /mnt/nfs
In this case, only create file, I can see the file name, but the size of file is zero bytes. For example, use "cp" command in linux, I can only copy a file name to the nfs directory, no file content.

But when I use "udp"

[2018-02-20 09:25] fartusco opened #63 "Portmap daemon starts failed"
Hello,

I have been running WinNFSd for some time now and it has worked correctly so far.

However, WinNFSd has been out of operation for a few days now, coinciding with the installation of some Windows 10 updates.

On the command line I run WinNFSd:

C:\Conex\nfsServer\bin>WinNFSd -pathFile "c:\Conex\nfsServer\exports.txt"

Here is the log for winnfsd.exe:

WinNFSd 2.4.0 [5f7f224]
Network File Sy

[2018-02-26 11:33] Pascal66 commented on #63
Same problem after restarted windows.
Working well before restart !?
[Resolved] i've a hidden nfs deamon running

[2018-02-26 17:30] fartusco commented on #63
How can I check if I have a hidden nfs daemon running?

Thanks.

[2018-02-28 11:13] Cologler opened #64 "Android VLC player cannot play video online."
RT.

[2018-03-02 10:28] fartusco commented on #63
Okay. Solved.

There was indeed a hidden nfs demon running.

Thank you very much.

[2018-03-04 03:02] cbj4074 commented on #63
@fartusco It might be useful to others if you explain how you determined as much. 👍

And what was the other daemon that was running? Something you installed and forgot about? Some other piece of legitimate software? Malware?

[2018-03-05 13:13] fartusco commented on #63
You're right, cbj4074.

The other NFS daemon that was running was the cygwin NFS server. This is the solution I intend to replace with WinNFSd. I didn't realize that to do some tests I had to re-install it and it was still running.

As soon as I stopped and uninstalled it, WinNFSd returned to normal operation.

Thank you very much for your help.

A greeting.

[2018-03-13 10:30] a-r-m-i-n opened #65 "NFS Server process crashes when second VM boots"
Hi,
I'm using Windows 10 Pro and Vagrant 2.0.2 with VirtualBox 5.2.8.
Also I'm using vagrant-winnfsd 1.4.0.

Everything works fine and fast when I'm using a single VM only.
But when I boot a second VM, it stops at

And the previous existing NFS Server process is gone. Also the mapping to first VM does not work anymore.

These are basically my Vagrantfiles:

[code]
Beside http port and IP address t

[2018-03-18 13:08] #63 closed, assigned to nobody

[2018-04-12 02:46] courtney-miles commented on #29
I'm having issues with mount to winnfsd hanging also.

I'm running Winnfsd 2.4.0 with Vagrant 2.0.3 / Virtual Box 5.2.8) via the [winnfsd/vagrant-winnfsd](https://github.com/winnfsd/vagrant-winnfsd) plugin.

To clarify the behaviour, winnfsd does not itself become unresponsive -- I can still run commands like list and reset from it's console. And it does not display any errors when the mount hangs

[2018-05-11 13:24] leem32 opened #66 "Set context of synced folder to prevent SELinux from complaining"
Vagrant 2.1.1
Host OS: Windows 7 Pro
Guest OS: Centos 7.4

I keep getting SELinux errors telling me I need to change the context to httpd_sys_content_t. All files in the default synced folders are set to default_t context and all files using nfs sync are set to nft_t.

Using winnfsd I keep getting SELinux errors telling me to change the context of files to `httpd_sys_content_t`, in the synced dire

[2018-05-17 20:08] marcharding commented on #66
I'm not familiar with SELinux stuff.

Maybe you can just try this?

https://serverfault.com/a/554676

[2018-05-17 20:09] marcharding commented on #65
Do you share the same folder twice in two different vms?

[2018-05-17 20:10] marcharding commented on #36
I'm closing this because the memory leaks are fixed (i think) so no need for this at the moment.

[2018-05-17 20:10] #36 closed

[2018-06-22 11:16] LogicByteCraft commented on #22
The version I use is: vagrant-winnfsd (1.4.0)
The command I execute is : tail -f lum-180622.log
The error message is: reverting to polling: Input/output error
I have used an administrator to run
Please help me, thank you@marcharding

[2018-07-14 01:15] ahabyss opened #67 "Folders STALE"
I keep getting a STALE message. My NFS client (Kodi) does see the folders in the shared directory.

I downloaded the latest source and built in visual studio.

I'll use this command "winnfsd.exe -id 0 0 -log on H:\apps /test" and the NFS client will see all of the folders in H:\apps (7-zip, adobe, notepad++, Vegas Pro 12, etc).

However when I try to browse to one of those folders I get

=========

[2018-07-14 05:29] ahabyss commented on #67
Well I've been working on this for hours over 5 days now, and I think it may be because drive letters and folders are case sensitive.  Maybe this will help someone else, but it seems to be working for now..

[2018-07-16 01:17] ChuckBryan commented on #67
Brilliant! Once I got the folder casing worked out it appears to be working for me too! Cheers!

[2018-07-18 19:43] cbj4074 commented on #67
Wow! @marcharding Are drive letter designations really case-sensitive currently?

[2018-07-18 19:46] ChuckBryan commented on #67
It might have been the folder name and not the drive letter (IDK). In my profile, I had used d:\movies but on the drive it was d:\Movies. Once I uppercased the folder it worked.

[2018-07-19 09:44] marcharding commented on #67
Since the guest filesystem (probably mostly some *nix) is case sensitive this is probably the expected behavior.

I think that i can maybe improve the error message a bit and maybe make the drive letter case insensitive (i'm not sure if thats even needed, i did not look at the code for some time).

[2018-08-09 09:07] elebeaup commented on #59
I have the same issue. I found that write speed is very slow compared to HaneWin NFS.

**WinNFS**
[code]

**HaneWin NFS**
[code]

For information, I am trying the benchmark with Docker For Windows.

[2018-08-09 13:03] elebeaup commented on #59
I have resolved the issue by disabling the logging.

[code]

@marcharding Thanks for your work.

[2018-08-09 13:05] cbj4074 commented on #59
That's interesting @elebeaup , thanks for the follow-up.

@Yivan Do you happen to have logging enabled? I know it's been a while since you last posted in this thread... curious if you've made any discoveries since then.

[2018-08-09 13:15] Yivan commented on #59
@cbj4074 I didn't edit any loggin option. If it is enabled by defaut, it was enabled so ; ) If not it was not enabled.

Sorry, no new discovery for now. I switched to the native Samba used by Docker for Windows.

[2018-08-09 14:14] cbj4074 commented on #59
@Yivan Thanks for the speedy follow-up!

In that case, it may be prudent to close the issue if and until somebody else reports the same and confirms that logging is disabled.

@elebeaup 's benchmarks with 210 MB/s for HaneWin and 205 MB/s for WinNFSd imply that there isn't a significant difference when logging is disabled.

Thanks again!

[2018-08-09 15:24] Yivan commented on #59
@cbj4074 Yes sure, I close the issue. If i test again i will try to check if log is enabled or not and post result here.
Thanks.

[2018-08-09 15:24] #59 closed

[2018-08-09 16:20] elebeaup commented on #59
@cbj4074 @Yivan Logging is enabled by default.

[2018-08-09 17:06] cbj4074 commented on #59
Hmm, this raises two questions for me:

1. Should logging be disabled by default, instead?
2. Is logging enabled by default for the Vagrant plugin, too? The docs imply that it is not, but it seems prudent to confirm.

I'll do some testing with the Vagrant plugin in an effort to confirm the default behavior.

[2018-09-10 10:09] pietervogelaar opened #68 "Minikube NFS mount to WinNFSd stops working after about 15-30 minutes"
I'm running Windows 10 and WinNFSd 2.4.0.

I start WinNFSd in the foreground with:
`WinNFSd.exe -pathFile "C:\Users\myname\etc\nfs-pathfile.txt"`

The content of nfs-pathfile.txt:
`C:\Users\myname\minikube\sources`

From my Minikube VM I create an NFS mount with:
`sudo mkdir -p /host-sources && sudo mount -t nfs -o nfsvers=3,tcp 192.168.99.1:/C/Users/myname/minikube/sources /host-sources`

At this

[2018-09-11 08:12] pietervogelaar commented on #68
It keeps working if I change the protocol from tcp to udp. Symantec security is running, maybe that's the problem.

[2018-09-11 10:59] pietervogelaar commented on #68
I completely removed Symantec, and made an exclusion of the C:\Users\myname\minikube path in Windows defender, but I still experience the same problem if I use the tcp protocol.

[2018-10-10 09:08] Toilal opened #69 "Running npm install cause "EBUSY: resource busy or locked messages""
When I run npm install on a shared folder, it sometime display those error messages. It doesn't seem to have any consequence, but does anyone has an idea why this occurs ?

[code]

[2018-10-11 17:57] jpreed2 commented on #68
I have exactly the same problem using the same setup (minikube on windows).  I've found after 15-30 minutes of idle when I try to access the NFS share it hangs.  Sometimes it comes back in a few seconds, sometimes it takes close to a minute, and a couple times it completely froze and I had to kill minikube.

I tried switching to udp and so far I haven't experienced the problem, but surprised there

[2018-10-18 13:22] cbj4074 commented on #68
You two are definitely not the first to complain about problems with TCP. For example:

https://github.com/winnfsd/winnfsd/issues/22
https://github.com/winnfsd/winnfsd/issues/24

At this point, it might be helpful to use a tool like Process Explorer to examine the hung thread and see if it reveals any clues, such as a specific procedure call, ballooning resource consumption over time, etc.

Also,

[2018-10-18 13:25] pietervogelaar commented on #68
@cbj4074 It's not specific to Minikube, could be any VM on Windows.

[2018-10-19 00:42] cbj4074 commented on #68
@pietervogelaar Have you confirmed that, or are you speculating?

I'm not saying you're wrong, I just don't want to waste anybody's time trying to reproduce the issue when, last we knew, all of the "TCP hanging" issues were effectively ironed-out.

The fact that nobody has mentioned issues with TCP in quite some time, excepting two Minikube users, makes the question relevant, IMO.

[2018-10-19 01:14] jpreed2 commented on #68
Just to add a bit more color: for me, MiniKube is running inside a VirtualBox VM.

VERSION=2018.05
ID=buildroot
VERSION_ID=2018.05
PRETTY_NAME="Buildroot 2018.05"
NAME=Buildroot
VERSION=2018.05
ID=buildroot
VERSION_ID=2018.05
PRETTY_NAME="Buildroot 2018.05"

@cbj4074's point is valid.  I have not tried to reproduce this issue on a non-MiniKube VM, so it's possible it is directly related to MiniKub

[2018-11-25 11:12] danballance commented on #68
I believe I am experiencing this issue. I am using Vagrant 2.2.1 on Windows 10 to manage a VirtualBoxVM. It works for a while but then I switch to another long running task, for example importing my databases, and when I try to access the NFS share from the Linux guest it hangs/crashes.

[2018-12-01 03:44] zhangnew commented on #60
+1

[2018-12-01 19:20] canute94 opened #70 "Stuck at Listening on 0.0.0.0"
WinNFSd doesn't work beyond these messages.

=====================================================
WinNFSd 2.4.0 [5f7f224]
Network File System server for Windows
Copyright (C) 2005 Ming-Yang Kao
Edited in 2011 by ZeWaren
Edited in 2013 by Alexander Schneider (Jankowfsky AG)
Edited in 2014 2015 by Yann Schepens
Edited in 2016 by Peter Philipp (Cando Image GmbH), Marc Harding
=======================

[2018-12-02 16:32] nathansimmonds commented on #68
I am experiencing the same behaviour running vagrant + DrupalVM  with winnfsd.  Works fine for a while, but leave it too long and the linux shell just stops responding when attempting to access a NFS-mounted share.  However with winnfsd open in debug mode I notice I can still issue commands to the NFS shell, such as quit, etc.

Setting UDP via the **mount_options** worked for this too, except that

[2018-12-02 21:10] nevdelap commented on #68
I had a problem that was similar to this about a month ago but because I didn't have anything I thought could be used to help reproduce or debug the problem I didn't report anything and went back to using cifs. I will try it again and see if either it works or I can add something useful to help.

Update: after using it for over two days (run up identically as previously when I had the hanging afte

[2018-12-03 20:30] cbj4074 commented on #70
@canute94 When you say "doesn't work beyond these messages", what, exactly, isn't working?

With logging disabled, I wouldn't expect you to see any further output in the console.

Have you tried actually mounting the shared directory?

[2018-12-04 08:43] pietervogelaar commented on #68
@cbj4074 Yesterday I tested a Centos 7.5 VM with TCP, but I didn't experience any hanging issues.

Test:

[code]

This works just fine. Only the first `ls` command after 15 minutes takes about 5 seconds and after that it's fast again.

Do you have any clue what can possibly go wrong with the Minikube VM?

[2018-12-04 10:28] pietervogelaar commented on #68
Today I tested TCP again with Minikube v0.30.0 and the hanging issue still exists.

Output from debug commands after the NFS mount was hanging:

`dmesg | grep -v audit | grep -v hpet1`
[code]

Copy from error lines of opened TCP dump in Wireshark:
[code]

[2018-12-04 14:07] cbj4074 commented on #68
@nathansimmonds Thanks for the excellent tip here:

At this point, it seems clear that this a TCP problem.

That said, it seems that MiniKube may also play a role in how the problem manifests, for whatever reason.

@jim5359 @danballance As a work around, please try changing the NFS mount options to use the UDP protocol and see if the hanging behavior subsides. Please report back to us so we can fu

[2018-12-04 14:16] pietervogelaar commented on #68
Some additional information, the Minikube VM NFS mount (nfsvers=3,tcp) works great on a Linux (Fedora) or Mac OS X (Mojave) host.

The problem can't be fully on the Minikube VM side, but on the other hand WinNFSd with TCP works great on Windows with a CentOS 7.5 VM. So the problem can't also be fully on the WinNFSd side.

So it must be an interaction problem of some kind.

[2018-12-04 16:10] jpreed2 commented on #68
@cbj4074 I've been using UDP to mount my NFS share inside MiniKube for the past 6 weeks or so and it hasn't hung once.  So the problem is definitely with TCP.  I do occasionally have a problem with WinNFSd slamming the CPU, but it's only occasional and after killing WinNFSd the problem goes away.

[2018-12-05 11:18] Toilal commented on #69
This is related to this issue: https://github.com/isaacs/node-graceful-fs/issues/127

It also occurs with another NFS Daemon, so I close this one.

[2018-12-05 11:18] #69 closed, assigned to nobody

[2018-12-13 19:09] vertigo220 opened #71 "Only randomly working"
I've been messing with this for quite a while now with only limited, random success. I'm trying to share drives/files from Win10 Pro to Kodi on a Shield TV, and ~95% of the time it doesn't work. At first I thought maybe it was due to trying to use a pathfile or a problem with my syntax, but those don't appear to be the problem. Though I did find out, after a while, that spaces in alias names are u

[2018-12-13 19:45] vertigo220 commented on #71
Update: Apparently I should have tested before posting, since even though I can browse the share, I can't play anything from it. So the problem is even bigger than I thought.

[2018-12-13 20:14] vertigo220 commented on #71
Here's a snippet of the output from where I could browse the share but not play any files:

[code]

[2018-12-13 21:26] cbj4074 commented on #71
Two potential causes come to mind:

1.) Case-sensitivity. See, e.g., https://github.com/winnfsd/winnfsd/issues/67 .  Try changing your export path to `videos` (lowercase), restart winnfsd, and see if the behavior changes.

2.) Using the TCP protocol (instead of UDP). I'm not familiar with Kodi's NFS implementation, specifically, but if the protocol is not UDP by default, there's probably a means b

[2018-12-13 21:42] vertigo220 commented on #71
Actually, it's Videos, not videos, but I tried that (the above example was lowercase) and it worked, I could actually play files. However, I tried adding another share, and that didn't work, so the case-sensitivity appears to have only been the problem as far as playback, but not as far as actually being able to access the share, which seems rather strange.

As for TCP/UDP, I don't seen anything i

[2018-12-13 21:50] cbj4074 commented on #71
Nowhere do I see `Path #1 is: d:\videos, path alias is: /videos` in any of your previous postings. To the contrary, I see `Path #1 is: d:\videos, path alias is: /Videos` (note the uppercase `V`).

In any case (pardon the pun), what are the contents of your **path file**? From everything you've demonstrated, you're specifying a single path on the CLI when starting winnfsd. If you intend to export m

[2018-12-13 21:58] vertigo220 commented on #71
Ah, ok. I thought you meant the case had to be the same for the actual folder name and the folder name I use here, not between the folder and alias. As mentioned, I did try using a path file, but I can't even get a single path to work consistently, much less multiple (with the file). For example, I just did:

`winnfsd -log on M:\ /Movies`

which worked, at least enough to access and browse the sha

[2018-12-13 22:01] marcharding commented on #71
I'm currently not using winnfsd.exe (that also explains why i currently do not work on it, sorry).

While i was using it, Kode worked might fine. In fact i did some some fixes just to get Kodi working (TCP/UDP did not matter).

I have just seen that you share a whole drive, try to share only a subfolder. While sharing a whole drive works, kodi indexes ALL files on the first access which sometime t

[2018-12-13 22:07] vertigo220 commented on #71
Didn't make a difference. I tried with a folder containing only 19 files and it didn't work. Also, I could be wrong but my impression is that Kodi doesn't start indexing until you've actually added the share and specified the file types. I can't even access the share to select it when this happens, much less add and configure it.

[2018-12-13 22:10] marcharding commented on #71
I just tried it and it worked without any problems.

`winnfsd.exe D:\share\ /share`

[2018-12-13 22:13] cbj4074 commented on #71
I notice you have a trailing backslash there, @marcharding . Is that strictly necessary? I seem to recall opening or participating in a discussion on that very subject.

EDIT: Yep: https://github.com/winnfsd/winnfsd/issues/13#issuecomment-238407064 But you seem to have fixed the issue subsequently, anyway. Hmm.

[2018-12-13 22:21] vertigo220 commented on #71
Based on that not necessary (and I haven't been using them) but rather was causing a problem that @marcharding fixed. Anyways, I may be onto something. So far, I've successfully run it three times in a row now. It seems that if I kill it then rerun it within a short period of time, it doesn't work right, but if I wait a while then it does. So now I'm wondering if it's a combination of not having t

[2018-12-13 22:25] marcharding commented on #71
Jep, fine either way 😉

STALE means that the file is not accessible anymore (e.g. you move some file on the server which the client did access before). It may also be some kind of security tool (defender, real time protection, who knows).

STALE also occurs when the server was stopped but the client was not. The client reconnects but the file-ids differ. winnfsd does not have persistent file id ac

[2018-12-13 22:38] vertigo220 commented on #71
No difference. Stopped winnfsd, waited a while, killed Kodi, restarted winnfsd (with the path file), launched Kodi, and as usual, I could see all the paths but couldn't access them.

[2018-12-13 22:41] marcharding commented on #71
Sorry, but then it is probably something off on your system.

[2018-12-13 23:58] cbj4074 commented on #71
@vertigo220 I have a couple of other thoughts/ideas.

If you're insistent upon using NFS, a much more mature option is Allegro NFS Server. It's not cost-free, but it works completely reliably and is worth every penny if that is your priority. I suggest you download the evaluation version and see if you have any of the same problems that you're having with winnfsd:

https://nfsforwindows.com/trial-

[2018-12-14 00:23] vertigo220 commented on #71
Thanks, I may take a look at it, or I may just stick with SMB. I'm just trying to ditch CIFS/SMB 1.0 due to security concerns regarding its use, but when I disabled it my Kodi shares stopped working. An initial search indicated that Kodi doesn't use SMB 2.0 or 3.0, but further digging shows that may not be the case, so I have to look more into it.

Also, I just hate when stuff doesn't work, and wa

[2018-12-14 00:51] vertigo220 commented on #71
Ok, so it turns out only Kodi on Linux can be modified to use >SMB 1.0, whereas Android versions cannot. So my choices are to continue using SMB 1.0 despite its risks, figure out how to get winnfsd working, or pay $70 for Allegro, which is pretty steep for such a small need. I still have a couple ideas to try for this, so I'm not ready to give up on it quite yet.

[2018-12-14 01:15] cbj4074 commented on #71
@vertigo220 Your reasons for wanting to use NFS are perfectly reasonable, with regard to "it should just work" and "I like a good challenge".

But my instinct is that winnfsd does not use NFS >= v4, with `sec=krb5p`, in which case it is in fact *less* secure than SMBv1, and by that, I mean *not encrypted at all*. At least SMBv1 is encrypted (though hopelessly vulnerable at this point).

I'm not at

[2018-12-14 01:29] vertigo220 commented on #71
Alright, everything seems good now. Time will tell if it stays that way, but I got all paths working with the path file multiple times. As before, I think part of the problem was that I wasn't giving it enough time in between killing the server and restarting it, but the issue I had with getting the path file to work seems to be due to not having the >'s between the folders and aliases. I didn't r

[2018-12-14 01:57] cbj4074 commented on #71
@vertigo220 Thanks for taking the time to compose a detailed follow-up! There are a few useful tidbits contained therein. Particularly this one:

This behavior implies that either winnfsd or Kodi is failing to handle the path correctly. When you say, "you can't back out of it", the likely explanation is that Kodi tries to issue a `../` or equivalent, and it fails. Curiously, that precise example s

[2018-12-14 02:06] vertigo220 commented on #71
It's not technically a trailing slash, it's in the middle (/alias/name). But I agree it seems likely it's causing an issue due to the reason you mention.

I'd be happy to test it, but the couple times I've tried using Wireshark, I've found it completely overwhelming, far above my knowledge level. So I wouldn't even know where to begin. Also, even if it's unencrypted, that doesn't necessarily mean

[2018-12-14 02:27] cbj4074 commented on #71
Ahh, I see what you mean now, regarding the slash. Very strange, and if winnfsd is to have any meaningful future, it warrants further investigation.

You make a very interesting point, regarding SMBv1. If I understand the use-case, you're more concerned about malware spreading over the vulnerable SMBv1 protocol than the security of the data as it travels across your network (presumably, a LAN, in

[2018-12-14 02:36] vertigo220 commented on #71
Correct, that's my concern with it. Since it's just my home network, I'm not worried about data security, but I am worried about malware, though, as I said, if the concern with SMB 1.0 is simply that it provides an easy path for malware to travel across the network, while it's still a concern, it's not that significant. I figure it's really more of a threat in a public or corporate network setting

[2018-12-14 15:10] cbj4074 commented on #71
I had a peek at the source and it's clearly NFSv3.

In fact, now that I look at the project homepage, it's stated very clearly there, too, haha!

So, there you have it: no encryption whatsoever.

Given that your concern has nothing to do with plaintext data flowing over your home network, winnfsd does seem a suitable choice, if and until Kodi implements secure versions of SMB on all operating syst

[2018-12-14 16:28] vertigo220 commented on #71
Thanks! So as far as you know, encryption/plaintext has nothing to do with malware-related security, in which case this would be more secure (in that context) than SMB 1.0?

[2018-12-17 19:21] cbj4074 commented on #71
That's correct. In this context, encryption provides security only in preventing the ability to eavesdrop. So, as long as you're not serving passwords and other sensitive data over NFS, even if another device on your network is compromised, the NFS server doesn't add to your risk profile in any meaningful way.

A very detailed analysis of precisely the subject at hand is available at https://www.s

[2018-12-18 02:53] vertigo220 commented on #71
Great, thanks for the confirmation! I'm also happy to report that so far it's been working flawlessly, though I haven't rebooted my computer since I started using it, so I still don't know if it would work again after that, but I'll update if there are problems. It also so far seems to load directory contents faster (with SMB, I was having problems lately with it taking several seconds to load the

[2018-12-18 13:50] cbj4074 commented on #71
Great; glad to hear it. There is no question that NFS (especially without encryption) is faster than SMB (all protocols).

If you're amendable to doing so, please close the Issue for now; we can revisit should other issues arise. Thanks!

[2018-12-18 17:22] #71 closed, assigned to nobody

[2019-01-01 10:54] ihmcjacky opened #72 "Cannot Start NFS Daemon"
Facing a quite weird situation, the NFS daemon cannot be started. However it can be started at Windows safe mode. I am wondering if other programs are occupying the port but can't find any, and I also tried to turn off the firewall.

Any help would be appreciated

OS: Windows 10 Pro 1809 64 bit

[code]

Looking at the source code, seems the socket with port 1058 cannot be created... But I can't fi

[2019-01-07 21:01] lars18th opened #73 "Request: File Handle up to 56 bytes"
Hi,

ESXi and perhaps other NFS clients can't mount exports when the File Handle used has 64 bytes. So I request to include an option to use 56 bytes.

Read more about the error here:
https://sourceforge.net/p/nfs-ganesha/mailman/message/31472947/

Thank you!

[2019-01-07 21:04] lars18th commented on #73
More or less I request to change the value `NFS3_FHSIZE` from 64 to 56
https://github.com/winnfsd/winnfsd/blob/d833130fab6ed1fcf7fe89ecc628ad1fdf464c86/src/RPCProg.h#L15

I hope someone can compile a testing version with this simple change.

Thank you!

[2019-01-07 21:43] marcharding commented on #73
Try this. [WinNFSd.zip](https://github.com/winnfsd/winnfsd/files/2734386/WinNFSd.zip)

I may add this as command line flag then.

[2019-01-08 16:33] lars18th commented on #73
Thank you! It works like a charm! :+1:
Now, I can share any folder from my Windows desktop to ESXi with this simple tool. :astonished:

Please, do it!

[2019-01-16 10:50] bfester commented on #29
Same problem here.
Host Windows 10 Pro, Guest Ubuntu Xenial, Winnfsd 2.4.0, Vagrant 2.2.1, Virtualbox 5.2.22
Guest machine freezes completely while performing operations on shared files (even reading).
Restarting winnfsd and `vagrant reload` doesn't help. Only full PC reboot does.

[2019-01-16 21:05] marcharding commented on #29
While this may not be the most favorable answer, maybe give this project a try (i'm not sure if i can fix whatever is happening):

https://github.com/gfi-centre-ouest/nfs4j-daemon
https://github.com/gfi-centre-ouest/vagrant-nfs4j

[2019-01-24 02:11] rfay opened #74 "Security: Limiting clients allowed to connect?"
Since the export style with WinNFSd specifies only the path (and not the IP address allowed to connect), could you say something about security considerations with WInNFSd? Is there a way to limit clients? Is it innately limited?

Thanks for this, it seems to be working quite nicely for [ddev](github.com/drud/ddev) in https://github.com/drud/ddev/pull/1396

[2019-02-26 12:28] JochemKlingeler commented on #68
I have been experiencing this problem with as well. This is my setup:
* Host: Windows 10
* Vagrant 2.2.3
* using vagrant-winnfsd 1.4.0 plugin
* VirtualBox 6.0.4
* VMbox:  CentOs/7 1901.01

Switching the mount options to use UDP like @cbj4074 suggested has solved the problem for me.

[2019-03-09 18:28] AyazCS commented on #50
I was having the same exact issue with STALE errors. All I did was add a '/' after the alias and it started working again. Like this:
C:\WinNFSd.exe C:\Users\X\Videos\ /xone/

[2019-03-12 17:07] ayalon opened #75 "Unzip of file is not possible on NFS share."
While building our application, we download a specific zip file (Drupal module).
Unfortunatly this file cannot be unzipped on a NFS Share mounted by WinNFSd. I have no clue why.

[code]
Whats the issue?

[2019-03-15 12:53] cbj4074 commented on #75
Please paste any error messages (and remove the `-qq` switch from the `unzip` command).

[2019-03-26 07:34] GasparYYC opened #76 "Is the NFSServer already built and available for download?"
Do you offer the  winnfsd.exe already compiled? (I can't find it).

Thank you

[2019-03-26 20:48] Atavic commented on #76
See: https://github.com/winnfsd/winnfsd/releases

[2019-03-26 22:01] GasparYYC commented on #76
Thank you!

[2019-03-26 22:01] #76 closed, assigned to nobody

[2019-03-27 20:56] vctls commented on #72
I'm getting the same error. Same OS version.
I haven't used WinNFSD for a few months on this computer but I'm pretty sure it worked.
Port 1058 is unused. Just to be sure there's nothing blocking it, I ran an http server on it, without any problem.
I have yet to try in safe mode.

[2019-03-28 07:08] sdespont commented on #72
Try disable your firewall during startup (when folders are mounting)

[2019-03-31 10:08] vctls commented on #72
I think I managed to narrow it down to one service: **HNS** or Host Networking Service
I disabled it in msconfig, and winnfsd is working again.
Also, manually stopping the service and starting it again seems to work.

Bad news is: this service might be necessary for virtual networking.
I'm not sure it's the service in itself. It might be something else related to Docker or Hyper-V.

[2019-04-06 22:01] stevesobol commented on #57
I'm seeing this too, and it causes NFS connections to freeze. Today I ran WinNFSD from the command line, instead of as a service with NSSM as I had been doing, and this error started appearing about 15 minutes after I started it.

[2019-04-07 07:11] sdespont commented on #72
@vctls Did you try to use another port? The MOUNT_PORT should be an option in config, but as test, a new build should not be very complicated.

@marcharding What tool are you using to compile this code? Visual Studio C++?

https://github.com/winnfsd/winnfsd/blob/d833130fab6ed1fcf7fe89ecc628ad1fdf464c86/src/winnfsd.cpp#L15-L20

[2019-04-08 14:46] boe1 opened #77 "Winnfsd stops working when windows goes to sleep"
Hello,

Not sure if the problem is just with my setup or not.   I run the program as a batch when my computer boots and it works great!   When my PC goes to sleep and wakes back up I can't access it anymore.  If I reboot my computer it works great again.   If I rerun the batch after my computer goes to sleep and wakes back up, it is not accessible.   I'm running the current Win 10 x64 if that help

[2019-04-08 23:09] vctls commented on #72
@sdespont I'm not sure it is a port issue. Or at least, not with the mount port. I tried running something else on that port and it worked fine.
Yeah, it would be nice if that was a configurable parameter. More verbosity could be useful, too.

[2019-04-09 06:59] sdespont commented on #72
@vctls In that case, you should try to download [Visual Studio Community](https://visualstudio.microsoft.com/fr/downloads/) then compile the project in debug mode and find where the bug is. It should not be complicated because your problem occurs at the start of the application and is not due to some complex multithreading issues.

I am sure that the line pointed by the debugger where the error oc

[2019-04-09 18:20] cbj4074 commented on #77
I seem to recall having a similar experience.

Have you tried Hibernate instead of Sleep?

Also, for whatever it's worth, if your version of Windows provides access to it, Hyper-V + SMB is at least as fast as VirtualBox + WinNFSd, and has been far less hassle for me in this specific regard.

"Your mileage may vary." :)

[2019-04-09 18:34] boe1 commented on #77
Hello,

Thanks for the reply.   I'm using winfsd because the master browser is tits up in the versions of Windows 10 since CU.    I can run a VM running an older version of windows for the sole purpose of being the master browser however that seems a little too much overhead just to get SMB working.  I could also buy a switch that has master browser switch - seems a bit of cost for no other benefi

[2019-04-14 20:57] boe1 commented on #77
I just tried hibernate last night - same issue as going to sleep.

[2019-04-15 12:15] cbj4074 commented on #77
@boe1 Thanks for the follow-up!

That's most unfortunate. Perhaps someday someone will be able to explain why this behavior occurs, and if we're lucky, how to fix it (or at least work around it).

[2019-04-15 12:44] boe1 commented on #77
If I knew how to unload it, I could schedule a reload on wake.

You can run this command from an elevated powershell - Get-Process winnfsd* | select Id | Stop-Process
However even though that seems to stop the process (which you can tcheck with just get-process winnfsd*,   when you run the batch file to start it again it does not work properly on systems trying to access the shares.   The shares w

[2019-04-25 03:46] boe1 commented on #77
OK - so after a LOT of investigation the issue isn't present with all network cards!   I rebuilt my image from scratch starting with vanilla Windows on another system.   Everything worked perfectly.  I then put that image on my main system and all the problems with streaming occurred again.   Turns out that the newer Aquantia nic drivers have some weird problem with Winnfsd - no issues at all with

[2019-04-25 22:50] cbj4074 commented on #77
Fascinating! That's great detective work.

I don't have anything useful to add, but that may be a huge clue for anybody with the knowledge and wherewithal to attempt a fix in the future.

[2019-04-26 00:28] boe1 commented on #77
I figure posting it is the least I could do - I wouldn't want anyone else wasting as much time as I did.  I get a lot of good info in groups like this so it makes me feel good on the rare occasion I don't find it there already.

[2019-04-26 05:26] sdespont commented on #77
Perhaps, you could try to recompile the project with another port with [Visual Studio Community](https://visualstudio.microsoft.com/fr/downloads/).

https://github.com/winnfsd/winnfsd/blob/d833130fab6ed1fcf7fe89ecc628ad1fdf464c86/src/winnfsd.cpp#L15-L20

[2019-05-09 04:07] unlstorm opened #78 "Issue with read after write on r/w open file"
I'm getting "Permission denied ACCESS" access errors when doing reads (0 offset) after writes. Believe my uid/guid is synced appropriately between client/server (2001/100). Below is example output from log. I switched to another NFS server for windows (30-day eval) and don't have this issue with it.

[08:13:36] NFS FSINFO \\?\D:\Project_Files\NFS_Server
[08:13:51] NFS LOOKUP \\?\D:\Project_Files\N

[2019-05-13 13:17] Buba5473 opened #79 "Charset problems again"
Cyrillic names are displayed correctly, but when trying to open (for example, playing an mp3 file), there is no reaction. With Latin all is well

[2019-06-04 19:48] GeorgeSands opened #80 "multiple disk ?"
Is it possible to mount multiple disks like C: / D: / E: / and how to do that ?

I try the multiple paths metod by export but this do not work ...

[2019-07-13 22:37] MMaurente commented on #80
I have the same doubt.

[2019-07-22 23:07] nc88keyz opened #81 "10 Maximum Mounts in exports.txt"
Is there  maximum number of paths for the exports.txt file. I seem to be capped at 10 on two windows boxes. running win10. I am using this to mount folders for kodi on a shield. After 10 it breaks every time. Ive tried a few different builds across kodi as well as winnfsd. Any ideas?

[2019-08-28 09:46] alanzhucn commented on #5
Hi, @kevinquillen @marcharding @magnetik @yannschepens
I meet the same problem today. And following @yannschepens  's advice, I include the option 'vers=3,nolock,udp' then it works.

sudo mount -o 'vers=3,nolock,udp' 172.22.0.115:/C/test /var/test

[2019-09-13 11:29] Buba5473 commented on #80
From KODI's forum:

"With the lack of SMB support on Kodi for XBox1 a good alternative is NFS, but it's not supported natively on most versions of win.
There are some easier methods to do that (haneWIN's nfs server) but not free (afaik).
Here's a way to add NFS service capabilities on win using the FOSS WinNFSd.

1. Download WinNFSd.exe latest version from here (2.4.0 as of now)
2. Place it in a n

[2019-10-21 11:46] dreic opened #82 "CPU usage 100%"
Hi,

I am running WinNFSd 2.4.0 [5f7f224] and from time to time, process starts using 100% for my 8 core CPU. Only fix is to kill process and restart it.

[2019-10-22 13:29] alistair7 commented on #82
I also get this on the latest [d833130], although I can't tell whether it's the same issue.  I think in my case it's related to a flaky network connection.  It's getting stuck forever in [this loop](https://github.com/winnfsd/winnfsd/blob/d833130fab6ed1fcf7fe89ecc628ad1fdf464c86/src/Socket.cpp#L129) in CSocket::Run:

`                while (nBytes != fragmentHeaderLengthBytes) {`
`

[2019-11-20 20:55] kokishin1 opened #83 "NFS isn't handing text characters with accent marks in Win 10 folder names"
I'm using your 2.4.0 release on a Win 10 Pro desktop. I access music files on my desktop from my  Oppo 203 Blu-ray disc player which supports NFS as a client. However, NFS it isn't handing text characters with accent marks for the folder names. I also use SMB v1 which handles text fine but MS has depreciated SMB v1.

For example:
Win 10 folder name: _Puccini - La Bohème_
SMB: _Puccini - La Bohème_

[2019-11-22 02:21] cbj4074 commented on #83
Hardly a "solution", but is it safe to assume that your player does not support an SMB protocol version newer than v1?

[2019-11-22 02:33] kokishin1 commented on #83
Oppo 203 only supports SMBv1 which displays text ok. Oppo is out of the disc player biz and are only in warranty support mode. So no possibility of support for SMBv2 or v3.

The issue is with NFS.

[2019-11-27 11:16] kdallas commented on #81
@nc88keyz -- I realize this is nearly 5 months since your comment... but I was pulling my hair out until I read this and tried removing one of my NFS shares.  (I had 11 of them).  11 will freeze... whereas 10 work perfectly.

My workaround was to use directory junctions (windows symbolic links), something like this:

x:\videos1
x:\videos2
x:\videos_share
x:\videos_share\videos1 (symlinked to x:\vi

[2019-11-27 16:00] cbj4074 commented on #81
@kdallas What an odd limitation... glad you found a viable workaround, though! Thank you for sharing!

[2019-11-28 01:06] kdallas commented on #81
@cbj4074 @nc88keyz -- I should had probably added that the freezing was happening in Kodi (CoreELEC actually), so I've not ruled out the limit being there, instead of anything specific to the NFS daemon.  It's possible to test the NFS connections in Windows 10 by installing the NFS client tools, which I've done and that did seem to be working, albeit slowly.  (But that's why we use SMB in Windows,

[2019-11-28 19:15] eXtreme commented on #72
Do you have Hyper-V installed? Because I've been fighting with this problem for long and recently, finally found a permanent solution for that:

https://github.com/docker/for-win/issues/3171#issuecomment-554587817

cc @vctls because you are mentioning HNS which was partially reponsible for that. The main reason is explained in the linked comment.

[2019-11-28 19:52] vctls commented on #72
I do have Hyper-V, since I'm using WinNFSd to share files with Docker projects.
But I've been using this setup for months without issues now.
And I just checked HNS and it's currently active.
There have been quite a lot of Windows updates since, though.

Thanks for reminding me of this issue. Some of my colleagues have been struggling to make Docker and WinNFSd work on their workstation, and I did

[2020-01-28 15:36] masyanru commented on #73
omfg, @marcharding thank you. ;)

[2020-01-31 19:21] lars18th commented on #73
Hi @marcharding ,

I hope you remember to do it. :wink:

[2020-08-19 19:25] CC007 opened #85 "Unable to change ownership of folders/files"
### summary
When running the `chown` command, the command exits successfully, but the ownership isn't changed

### steps to reproduce
- Set up a nsf folder (for instance `/data`) on the windows machine
- on a linux machine mount the folder and make a subfolder (for instance `/mysql` this should give a folder with group and owner being root
- run `chown mysql:mysql /data/mysql/`

### expected
The c

[2020-08-20 18:16] jamthejame opened #86 "PORTMAP DUMP - Error"
Running remote XCP-ng server.  Looking to add another storage repository on the server using NFS client.  Protocol set to v3 and IP and alias set to for h/ drive.

Running on Windows 7 with firewall disabled and network discovery enabled, however, connections on port 111 and 2049 tend to appear and disappear, seems as it is enable to set connection.  What can be the source of the isse?
![winnfsd](

[2020-09-25 15:04] thr27 opened #87 "Bug in comparing shared path"
If there are multiple exports with a similar name, the comparison finds the wrong export.

Export:
C:/dir/subdir/test
C:/dir/subdir/test-scripts

In File ..\winnfsd\src\FileTree.cpp Line 190

`if (sPath.find(nPath) != std::string::npos)`

will result in the 1st export being picked, if the client requested the 2nd export.

Fix:
Also compare if path ends here
`if ((sPath.find(nPath) != std::string::

[2020-10-07 16:13] Jurigag commented on #72
If someone will look in future for this it's most likely that HNS reserves port used for nfs, there is way to solve this - https://github.com/docker/for-win/issues/3171#issuecomment-554587817

[2020-11-10 08:06] magnetik commented on #82
I've tried to compile it myself to see where it's stuck in my case, but I'm not a cpp dev so I'm missing the toolchain. Can you document what do did to have it running? Thanks.

[2021-01-24 13:56] dracconi opened #88 "A quantum . (lack of ".")"
When connecting from OpenBSD, I cannot use anything which needs that . thing, for example `ls`, `./a` etc.

Apparently NFS doesn't see anything there, but also there is something...

[code]

[2021-02-05 13:35] end2endzone opened #89 "Must force vers=3 to mount"
Hi. First, I would like to thank you for a great software.

I tried mounting a nfs shared on my Windows 7 x64 pc with the commands that are specified in the readme but got an error message:
[code]

The nfs server was launched with the following command: `WinNFSd.exe -addr 192.168.1.125 -log on G:\shared /shared`.
Looking at the logs in the WinNFSd console, we see the following: `Client requested N

[2021-03-06 15:04] Kystre opened #90 "bind to multiple addresses"
cant he program be setup t o bind to multiple IP addresses?  I don't want it to listen on all adapters but i do need it to bind to more than one IP.

[2021-05-02 21:38] jansierakowski opened #92 "support ver 2 NFS"
Hi is it possible to get version 2 supported?

[2021-06-01 02:34] gszakacs commented on #73
Awesome ! This solved the issue reading video recordings from my wyzecams,

[2021-06-01 07:01] lars18th commented on #73
I hope someone (@marcharding??) will update the source code. The last commit and releases are years ago. :confused:

[2021-10-21 05:09] LatteCoconut opened #93 "how can Only specific ip are allow to mount"
like "hosts allow" in samba config

[2021-11-12 07:34] sdespont opened #94 "Windows 11 tests and feedbacks?"
Hi guys,

Has anyone already tested WinnFsd with Windows 11?

Is everything working fine? Any feedback?

[2021-12-15 11:43] mandrixoh1 commented on #94
I have not been able to get it to install as of yet on Windows 11. Tried administrative install but no dice, nothing happens I can see.
How about you?

[2021-12-31 05:14] sduensin commented on #92
Seconded.  This would be very handy for legacy clients.

[2022-01-01 16:34] sdespont commented on #94
I haven't tested at this time. Did you succeed to use it finally?

[2022-01-01 16:40] mandrixoh1 commented on #94
No luck.

[2022-01-01 16:42] mandrixoh1 commented on #94
Actually I got a paid solution finally when this failed to install. A pity, but I needed to do something.

[2022-01-02 17:20] sdespont commented on #94
Can you share the paid solution you choose please?

[2022-01-02 19:34] mandrixoh1 commented on #94
Yes I’d be happy to, Sebastien.

www.haneWIN.net <http://www.haneWIN.net>

It’s called haneWIN NFS Server.

You can go ahead and download it. It has a 30 day free trial and a nag screen.

Good luck!

G

From: Sébastien Despont ***@***.***>
Sent: Sunday, January 2, 2022 12:21 PM
To: winnfsd/winnfsd ***@***.***>
Cc: mandrixoh1 ***@***.***>; Comment ***@***.***>
Subject: Re: [winnfsd/winnfsd] Windows

[2022-01-11 17:23] Astral91 commented on #94
Hi, WinNFSd 2.4.0 is still working on my Windows 11 box (upgraded from 10).
Don't forget to create an inbound firewall rule for it !

[2022-01-11 19:28] sdespont commented on #94
@Astral91 Thank you for your feedback!

[2022-01-16 19:15] mwbreur commented on #94
Setup : Windows 11 with Winnfsd sharing 2 folders (E:\downloade and F:\downloadf)
RPI with Kodi (openelec 10.0.1/kodi 19.3)
Shares added in Kodi and mounted.

When loading the folders in Kodi i can see the contents but i'm not able to access subfolders? I did find something about '-insecure' about NFS sharing on Linux and such but the logs also don't show anything besides it seeing folders with th

[2022-01-16 23:15] mandrixoh1 commented on #94
I was told by an acquaintance that did a lot of research that MS dropped some important functions in SMB v1…maybe 2 & 3 as well, I don’t know. SMB v1 is considered “unsecure” so maybe the same as we’re seeing MS do with dropping older cpu’s from Windows 11.

From: mwbreur ***@***.***>
Sent: Sunday, January 16, 2022 2:15 PM
To: winnfsd/winnfsd ***@***.***>
Cc: mandrixoh1 ***@***.***>; Comment ***@*

[2022-01-17 14:35] Astral91 commented on #94
To get back on topic, I have the same usecase as @mwbreur : NFS sharing for Kodi after the deprecation of SMB v1 by Microsoft.
Permissions-wise, WinNFSd is running as a service under the Local System account. With this kind of setup, permissions are not an issue.
I'm also using NSSM to run WinNFSd as a service, as I find the installation script to be somewhat primitive (for instance it uses grep,

[2022-01-17 18:55] mwbreur commented on #94
I seriously wish it would work but currently I don't have the patience to find out why. I tried for a few days but couldn't figure out why it wouldn't let me open subfolders. I'm open for advice.

[2022-01-30 15:39] feimeng115 opened #95 "Mount daemon starts failed (check if port 1058 is not already in use ;) )"
The issues is as follow:

[code]

Thank you！

[2022-05-14 06:49] fmzone opened #96 "is there any plan to support ipv6"
is there any plan to support ipv6?

[2022-08-17 07:54] gyrex commented on #94
I have no issue running this on Windows 11.

[2022-08-29 21:35] markbearden commented on #95
Me too.  Definitely nothing using port 1058, according to netstat and nmap.   Tried launching from CMD shell with elevated privilege.  Windows 10 Pro Build 19044

[2022-11-28 16:51] #80 closed, assigned to nobody